<ion-header>
  <div style="width: 100%; display: flex; justify-content:space-between; align-items: center; padding: 10px 24px; background: #ebd1af;">

    <ion-icon (click)='back()' style='font-size:16px;color: #FFFFFF;' name="chevron-back-outline"></ion-icon>

    <div style="color: #FFFFFF; font-size:16px; font-weight:600;">Your Signature</div>

    <ion-icon style='font-size:20px;color: #FFFFFF; visibility: hidden;' name="chevron-back-outline"></ion-icon>

</div>

</ion-header>
<ion-content>
  <div style="width:100%;margin-top:50px; display: flex; flex-direction: column; align-items: center;">
    <div style="display:flex;justify-content:center;align-items:center; width: 90%; box-shadow: 0 0 4px 0 #ccc; border-radius: 8px; margin-bottom: 50px;">
      <canvas #canva (touchstart)="startDrawing($event)" (touchmove)="moved($event)" style="width: 100%;"></canvas>
    </div>
  </div>

  
  <!-- <div style="width: 100%; display:flex; justify-content:center;">  <img src='{{ signatureImg }}' /></div> -->




</ion-content>
<ion-footer>
  <div style="width:100%;display: flex; flex-direction: column; align-items: center;">
  <div style="width: 90%; display:flex;justify-content:space-between;padding:10px;">
    <ion-button style="width: 30%; --background:tomato !important; color:white;" (click)="clearPad()">Clear</ion-button>
    <ion-button style="width: 30%; --background:#ebd1af !important; color:white;" (click)="savePad()">Submit</ion-button>
  </div>
  </div>
</ion-footer>