<ion-content style="--background: #FAF7F2;">
  <div (click)="back()"
    style="z-index: 1002; position: fixed; opacity: 0.5; display: flex; justify-content: center; align-items: center; min-width: 30px; max-width: 30px; min-height: 30px; max-height: 30px;  top: 20px; left: 20px; border-radius: 100%; background: black; color: white;">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </div>

  <div style="width: 100%; height: 300px; position: relative; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <img style="object-fit: cover; width: 100%; height: 100%;"
      src="https://image.made-in-china.com/226f3j00FNTaqOzgbEos/Blackout-Horizontal-Sheer-Elegance-Blinds-Sun-Shading-Zebra-Blinds.jpg">

    <div
      style="position: absolute; bottom: 0; padding : 25px 16px; font-size: 18px; background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8)); width: 100%; color: white; font-weight: 600;">
      Zebra Blinds</div>
  </div>

  <!-- <div style="font-weight: 600; font-size: 24px; margin: 20px 20px 30px 20px;">About Product</div> -->
  <!-- <div style="width: 100%; padding: 20px;"></div> -->
  <div style="margin-left: 20px; margin-top: 20px; font-size: 16px; font-weight: 600;">Benefits</div>
  <div style="margin: 10px 20px 10px 20px; font-size: 13px; font-weight: 600;color:#a17635;">Privacy and Sunlight
    Regulation</div>
  <div style="margin: 0 20px; font-size: 13px; letter-spacing: .5px; text-align: justify; color: #333333;">With just a
    simple pull, you will get your desired light control. In other words, you will have total control over the heat and
    natural light that enters your room.<br><br>
    Zebra or dual blinds can maintain the interior coolness and also be adjusted to have those perforated areas
    completely obscured for an absolute privacy that you deserve the most.</div>

  <div style="margin: 20px 20px 10px 20px;font-size: 13px; font-weight: 600;color:#a17635">Minimum Maintenance and Easy
    to clean</div>
  <div style="margin: 0 20px; font-size: 13px; letter-spacing: .5px; text-align: justify; color: #333333;">Zebra blinds
    are durable and easy to maintain. A brush or a cleaning cloth is enough to remove any accumulated dirt which helps
    to maintain their cleaniness.</div>

  <div style="margin: 20px 20px 10px 20px; font-size: 13px; font-weight: 600; color:#a17635">Available in Motorization
    Zebra Blinds</div>
  <div style="margin: 0 20px; font-size: 13px; letter-spacing: .5px; text-align: justify; color: #333333;">Zebra blinds’
    motorization features allow you to control blinds remotely via a remote or a mobile app. These motorized blinds can
    also be managed by voice recognition (via Amazon Alexa or Google Home).<br><br>

    Follow the motorization trend to really “handle it.” Order them with an available motorized lift system to power and
    program blinds individually from a single remote. With the touch of a button, easily control these custom window
    coverings on hard to reach and extra large windows. </div>

  <div style="margin: 20px 20px 10px 20px; font-size: 13px; font-weight: 600;color:#a17635">A Fresh Selection of
    Texture, Color, and Design</div>
  <div style="margin: 0 20px; font-size: 13px; letter-spacing: .5px; text-align: justify; color: #333333;">New Way zebra
    blinds collections provide wide ranges of fabric colors, textures, and widths to pick from in order to find the
    right shades combination for your home.<br><br>

    Zebra blind is elegant and blends well with just about every kind of interior, this includes minimalist and baroque
    rooms style. New Way’s zebra blinds are well-built with highest standard accessories. Therefore, we are confident to
    provide every customer a minimum of 3 years warranty on all our blinds.</div>

  <div style="padding: 30px 20px 10px 20px; font-weight: 600;">How Do I Find My Perfect Blinds?</div>
  <div
    style="padding: 0 20px 20px 20px; text-align:justify; font-size: 12px; letter-spacing: .5px; color: #333333; margin-bottom: 90px;">
    On the hunt for the best window blinds for your house? Our experts can guide you on how to choose the right fit for
    your windows.</div>

  <div
    style="display: flex; justify-content:center; align-items:center; width:100%; height: 80px; background: #FAF7F2; position: fixed; bottom: 0; box-shadow: 0 0 4px 0 #dddddd;">
    <div style="width: 90%; display: flex; justify-content: space-between; ">
      <div
        style="display: flex; align-items: center; font-size: 11px; padding: 10px 20px; border: 2px solid rgb(161, 118, 53); color: rgb(161, 118, 53);">
        SEND US A MESSAGE</div>
      <div
        style="display: flex; align-items: center; font-size: 11px; padding: 10px 20px; color: white; background: #a17635;">
        BOOK AN APPOINTMENT</div>
    </div>
  </div>
</ion-content>