<ion-header style="--background: #FAF7F2">

  <div style="height: 50px; width: 100%; display: flex;align-items: center; padding: 0 15px;background-color: #ebd1af;">

    <div
      style="height: 24px;width: 24px;background-color: white;border-radius: 5px;display: flex;justify-content: center;align-items: center;">
      <ion-icon (click)="back()" style="font-size: 22px; color: #a17635;" name="close-outline"></ion-icon>
    </div>

    <div style="font-weight: 500;color: #a17635;font-size: 18px;margin-left: 15px;letter-spacing: 0.5px;">View Product
      Details
    </div>

  </div>

</ion-header>

<ion-content style="--background: #FAF7F2">

  <div style="width: 100%; padding:10px;">

    <!-- Step 1 -->
    <div style="color: #888888;font-weight: 600;margin-bottom: 10px;margin-top: 15px;">Step 1</div>

    <!-- Area -->
    <div
      style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
      <div style="min-width: 70px; color: #999999">Area </div>
      <ion-input readonly placeholder="Eg. Living Room" [(ngModel)]="item.location"
        style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
      </ion-input>
    </div>

    <!-- Area -->
    <div
      style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
      <div style="min-width: 70px; color: #999999">Refer </div>
      <ion-input readonly placeholder="-" [(ngModel)]="item.location_ref"
        style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
      </ion-input>
    </div>

    <!-- Width/Height -->
    <div *ngIf="item.width_tech == null && item.height_tech == null"
      style="width: 100%;display: flex;align-items: center;">
      <div
        style="width: 50%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px; color: #999999">Width </div>
        <ion-input readonly placeholder="inch" [(ngModel)]="item.width"
          style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div>

      <div
        style="width: 50%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px; color: #999999">Height </div>
        <ion-input readonly placeholder="inch" [(ngModel)]="item.height"
          style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div>
    </div>

    <!-- Tech Width/ Tech Height -->
    <div *ngIf="item.width_tech != null || item.height_tech != null"
      style="width: 100%;display: flex;align-items: center;">
      <div
        style="width: 50%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px; color: #999999">Width</div>
        <ion-input readonly placeholder="inch" [(ngModel)]="item.width_tech"
          style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div>

      <div
        style="width: 50%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px; color: #999999">Height</div>
        <ion-input readonly placeholder="inch" [(ngModel)]="item.height_tech"
          style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div>
    </div>

    <!-- Product Type -->
    <div
      style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
      <div style="min-width: 70px; color: #999999">Product </div>
      <ion-input readonly placeholder="inch" [(ngModel)]="item['type']"
        style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
      </ion-input>
    </div>

    <div *ngIf="item['type'] == 'Tailor-Made Curtains' || item['type'] == 'Motorised Curtains'">

      <!-- Step 2 -->
      <div style="color: #888888;font-weight: 600;margin-bottom: 5px;margin-top: 25px;">Step 2</div>

      <!-- Pleat -->
      <div
        style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px;color: #999999">Pleat Type </div>
        <ion-input readonly placeholder="inch" [(ngModel)]="item.pleat"
          style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div>

      <!-- Fullness -->
      <div style="width: 100%;display: flex;align-items: center;">

        <div
          style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between">
          <div style="min-width: 70px;color: #999999">Fullness </div>
          <ion-input readonly placeholder="Eg. 2.0" [(ngModel)]="item.fullness"
            style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
          </ion-input>
        </div>

      </div>

      <!-- Step 3 -->
      <div style="color: #888888;font-weight: 600;margin-bottom: 10px;margin-top: 25px;">Step 3</div>

      <!-- Fabric -->
      <div
        style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px;color: #999999">Fabric </div>
        <ion-input readonly placeholder="inch" [(ngModel)]="fabricType"
          style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div>

      <div *ngIf="item.fabric_type != null && item.fabric_type != ''"
        style="color: #888888;font-weight: 600;margin-bottom: 10px;margin-top: 25px;">Step 4</div>

      <!-- Step 4 (Curtain) -->
      <div *ngIf="item.fabric_type == 'C' || item.fabric_type == 'CS'" style="margin-bottom: 25px;">

        <div *ngIf="item.fabric_type == 'C'"
          style=" height: 20px; display: flex;align-items: center;justify-content: space-between;padding-bottom: 10px;">
          <div style="color: #888888;font-weight: 600;">Curtain</div>
        </div>

        <div *ngIf="item.fabric_type == 'CS'" (click)="showCurtain = !showCurtain"
          style=" height: 20px; display: flex;align-items: center;justify-content: space-between;padding-bottom: 10px;">
          <div style="color: #888888;font-weight: 600;">Curtain</div>
          <div *ngIf="!showCurtain" style="color: #a17635;">{{curtainswitch}}</div>
          <div *ngIf="showCurtain" style="color: #a17635;">{{xcurtainswitch}}</div>
        </div>

        <!-- Curtain -->
        <div
          style="width: 100%; border: 1px solid #e0e0e0; border-radius: 2px; padding: 0px 10px; display: flex; align-items: center; justify-content: space-between;">
          <div style="min-width: 70px;color: #999999">Curtain </div>
          <div style="width: 100%;display: flex;align-items: center;padding: 13px 8px 13px 10px;font-size: 14px;">
            <ion-input class="ion-no-padding" readonly [(ngModel)]="item.fabric" placeholder="Select Curtain Fabric"
              style="font-weight: 500; color: #333333">
            </ion-input>
            <!-- <ion-icon *ngIf="item.fabric != null && item.fabric != ''" (click)="clearFabric('curtain')"
              style="font-size: 16px; color: #a17635;" name="close-outline"></ion-icon> -->
          </div>
        </div>

        <!-- Track -->
        <div
          style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
          <div style="min-width: 70px;color: #999999">C.Track </div>
          <ion-input readonly placeholder="-" [(ngModel)]="item.track"
            style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
          </ion-input>
        </div>

        <!-- Pieces -->
        <div
          style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between">
          <div style="min-width: 70px;color: #999999">Pieces </div>
          <ion-input readonly placeholder="Eg. 2" [(ngModel)]="item.pieces_curtain"
            style="width: 100%  ;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
          </ion-input>
        </div>

        <div *ngIf="showCurtain">

          <!-- Bracket -->
          <div
            style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
            <div style="min-width: 70px;color: #999999">Bracket </div>
            <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.bracket"
              style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
            </ion-input>
          </div>

          <!-- Hook -->
          <div *ngIf="hookview">

            <div *ngIf="item.pleat != 'French Pleat'"
              style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
              <div style="min-width: 70px;color: #999999">Hook </div>
              <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.hook"
                style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
              </ion-input>
            </div>

            <div *ngIf="item.pleat == 'French Pleat'"
              style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
              <div style="min-width: 70px;color: #999999">Hook </div>
              <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.hook"
                style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
              </ion-input>
            </div>

          </div>

          <!-- Belt -->
          <div
            style="width: 100%; border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
            <div style="min-width: 70px;color: #999999">Belt </div>
            <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.belt"
              style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
            </ion-input>
          </div>

          <!-- SideHook / Touch Floor-->
          <div style="width: 100%;display: flex;align-items: center;">

            <div
              style="width: 50%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between">
              <div style="min-width: 70px;color: #999999">Touch Floor </div>
              <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.touchfloor"
                style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
              </ion-input>
            </div>

            <div
              style="width: 50%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between">
              <div style="min-width: 55px;color: #999999">Sidehook </div>
              <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.sidehook"
                style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
              </ion-input>
            </div>

          </div>

          <!-- Lining -->
          <div *ngIf="item.fabric_lining != null" style="color: #888888;font-weight: 600;margin: 10px 0 5px 0;">Optional
          </div>
          <div *ngIf="item.fabric_lining != null"
            style="width: 100%; border: 1px solid #e0e0e0; border-radius: 2px; padding: 0px 10px;margin-bottom: 10px;display: flex; align-items: center; justify-content: space-between;">
            <div style="min-width: 70px;color: #999999">Lining </div>
            <div style="width: 100%;display: flex;align-items: center;padding: 13px 5px 13px 10px;font-size: 14px;">
              <ion-input class="ion-no-padding" readonly [(ngModel)]="item.fabric_lining"
                placeholder="Select Lining Fabric" style="font-weight: 500; color: #333333">
              </ion-input>
              <!-- <ion-icon *ngIf="item.fabric_lining != null && item.fabric_lining != ''" (click)="clearFabric('lining')"
                style="font-size: 16px; color: #a17635;" name="close-outline"></ion-icon> -->
            </div>
          </div>
        </div>

      </div>

      <!-- Step 4 (Sheer) -->
      <div *ngIf="item.fabric_type == 'S' || item.fabric_type == 'CS'" style="margin-bottom: 10px;">

        <div *ngIf="item.fabric_type == 'CS'" (click)="showSheer = !showSheer"
          style=" height: 20px; display: flex;align-items: center;justify-content: space-between;padding-bottom: 10px;">
          <div style="color: #888888;font-weight: 600;">Sheer</div>
          <div *ngIf="!showSheer" style="color: #a17635;">{{sheerswitch}}</div>
          <div *ngIf="showSheer" style="color: #a17635;">{{xsheerswitch}}</div>
        </div>

        <div *ngIf="item.fabric_type == 'S'"
          style=" height: 20px; display: flex;align-items: center;justify-content: space-between;padding-bottom: 10px;">
          <div style="color: #888888;font-weight: 600;">Sheer</div>
        </div>

        <!-- Sheer -->
        <div
          style="width: 100%; border: 1px solid #e0e0e0; border-radius: 2px; padding: 0px 10px; display: flex; align-items: center; justify-content: space-between;">
          <div style="min-width: 70px;color: #999999">Sheer </div>
          <div style="width: 100%;display: flex;align-items: center;padding: 13px 8px 13px 10px;font-size: 14px;">
            <ion-input class="ion-no-padding" readonly [(ngModel)]="item.fabric_sheer" placeholder="Select Sheer Fabric"
              style="font-weight: 500; color: #333333">
            </ion-input>
            <!-- <ion-icon *ngIf="item.fabric_sheer != null && item.fabric_sheer != ''" (click)="clearFabric('sheer')"
              style="font-size: 16px; color: #a17635;" name="close-outline"></ion-icon> -->
          </div>
        </div>

        <!-- Track -->
        <div
          style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
          <div style="min-width: 70px;color: #999999">S.Track </div>
          <ion-input readonly placeholder="-" [(ngModel)]="item.track_sheer"
            style="width: calc(100% - 70px) ;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
          </ion-input>
        </div>

        <!-- Pieces -->
        <div
          style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between">
          <div style="min-width: 70px;color: #999999">Pieces </div>
          <ion-input readonly placeholder="Eg. 2" [(ngModel)]="item.pieces_sheer"
            style="width: 100%  ;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
          </ion-input>
        </div>

        <div *ngIf="showSheer">

          <!-- Bracket -->
          <div
            style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
            <div style="min-width: 70px;color: #999999">Bracket </div>
            <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.sheer_bracket"
              style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
            </ion-input>
          </div>

          <!-- Hook -->
          <div *ngIf="hookview">

            <div *ngIf="item.pleat != 'French Pleat'"
              style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
              <div style="min-width: 70px;color: #999999">Hook </div>
              <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.sheer_hook"
                style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
              </ion-input>
            </div>

            <div *ngIf="item.pleat == 'French Pleat'"
              style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
              <div style="min-width: 70px;color: #999999">Hook </div>
              <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.sheer_hook"
                style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
              </ion-input>
            </div>

          </div>

          <!-- Belt -->
          <div
            style="width: 100%; border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
            <div style="min-width: 70px;color: #999999">Belt </div>
            <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.sheer_belt"
              style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
            </ion-input>
          </div>

          <!-- SideHook / Touch Floor -->
          <div style="width: 100%;display: flex;align-items: center;margin-bottom: 10px;">

            <div
              style="width: 50%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between">
              <div style="min-width: 70px;color: #999999">Touch Floor </div>
              <ion-input readonly placeholder="-" [(ngModel)]="item.sheer_touchfloor"
                style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
              </ion-input>
            </div>

            <div
              style="width: 50%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between">
              <div style="min-width: 55px;color: #999999">Sidehook </div>
              <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.sheer_sidehook"
                style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
              </ion-input>
            </div>

          </div>

        </div>

      </div>

      <!-- Remark Sales -->
      <div style="margin-top: 25px;color: #333333;font-weight: 600;">
        <div style="min-width: 56px;font-weight: 500;color: #999999">Remark Sales:</div>
        <ion-textarea readonly auto-grow="true" placeholder="-" row="4" [(ngModel)]="item.remark_sale" style="min-height: 65px;height: auto;font-weight: 400;--padding-start: 10px;--padding-end: 10px;
           border-radius: 5px;border: 1px solid #eaeaea;margin-top: 5px;"></ion-textarea>
      </div>

      <!-- Remark Tech -->
      <div style="margin-top: 15px;color: #333333;font-weight: 600;">
        <div style="min-width: 56px;font-weight: 500;color: #999999">Remark Tech:</div>
        <ion-textarea readonly auto-grow="true" placeholder="-" row="4" [(ngModel)]="item.remark_tech" style="min-height: 65px;height: auto;font-weight: 400;--padding-start: 10px;--padding-end: 10px;
           border-radius: 5px;border: 1px solid #eaeaea;margin-top: 5px;"></ion-textarea>
      </div>

      <!-- Remark Tailor -->
      <div style="margin-top: 15px;color: #333333;font-weight: 600;">
        <div style="min-width: 56px;font-weight: 500;color: #999999">Remark Tailor:</div>
        <ion-textarea readonly auto-grow="true" placeholder="-" row="4" [(ngModel)]="item.remark_tail" style="min-height: 65px;height: auto;font-weight: 400;--padding-start: 10px;--padding-end: 10px;
           border-radius: 5px;border: 1px solid #eaeaea;margin-top: 5px;"></ion-textarea>
      </div>

      <!-- Remark Installer -->
      <div style="margin-top: 15px;color: #333333;font-weight: 600;">
        <div style="min-width: 56px;font-weight: 500;color: #999999">Remark Installer:</div>
        <ion-textarea readonly auto-grow="true" placeholder="-" row="4" [(ngModel)]="item.remark_inst" style="min-height: 65px;height: auto;font-weight: 400;--padding-start: 10px;--padding-end: 10px;
           border-radius: 5px;border: 1px solid #eaeaea;margin-top: 5px;"></ion-textarea>
      </div>

      <!-- Old Picture -->
      <div style="margin-top: 15px;min-width: 56px;font-weight: 500;">Images : <span
          style="font-size: 12px;color: #8080808d;">(Click image to view)</span></div>
      <div
        style="display: grid; grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));height: 100%; margin-top: 10px;  ">
        <!-- <div style="display: flex;justify-content: center;padding: 5px 5px 5px 10px;">

         <label for="files" class="btn" style="width: 100px;">
           <div id="button" style="min-height: 100px; max-height: 100px;min-width: 100px;max-width: 100px; border-radius: 5px;display: flex;align-items: center;justify-content: center;
          background-color: gray; box-shadow: 0px 3px 6px rgb(0,0,0,0.1);">

             <ion-icon style="width: 100%; font-size: 15px; color: #ffffff;" name="camera"></ion-icon>

             <input #uploadEl style="display: none" id="files" class="inputclass" accept="image/*" type="file"
               (change)="fileChange($event, '', 600)">

             <canvas style="display: none;" id="canvas"></canvas>

           </div>
         </label>
       </div> -->

        <div *ngFor="let x of item.photos; let i = index"
          style="height: 100%;padding: 5px;display: flex;justify-content: center;">

          <img (click)="openPic(x)"
            style="border-radius: 5px; height: 100px;min-width: 100px;max-width: 100px; object-fit: cover;"
            src="{{x || ''}}" alt="">

          <!-- <div
           style="height: 15px;width: 15px;background-color: white;border-radius: 100px;margin-left: -20px;margin-top: 5px;display: flex;justify-content: center;align-items: center;">
           <ion-icon (click)="deletePic(i)" style="font-size: 13px; color: #a17635;" name="close-outline"></ion-icon>
         </div> -->

        </div>

      </div>

    </div>

    <div *ngIf="item['type'] == 'Blinds' ">

      <!-- Step 2 -->
      <div style="color: #888888;font-weight: 600;margin-bottom: 5px;margin-top: 25px;">Step 2</div>

      <!-- Blinds -->
      <div
        style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;margin-top: 15px;">
        <div style="min-width: 70px;color: #999999">Blind Type </div>
        <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.pleat"
          style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div>

      <!-- Pieces -->
      <div
        style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between">
        <div style="min-width: 70px;color: #999999">Set </div>
        <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.pieces_blind"
          style="width:100%  ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div>


      <!-- Step 3 -->
      <div style="color: #888888;font-weight: 600;margin-bottom: 10px;margin-top: 25px;">Step 3</div>

      <!-- Blind Fabric -->
      <div
        style="width: 100%; border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px;color: #999999">Blind</div>
        <div style="width: 100%;display: flex;align-items: center;font-size: 14px;">
          <ion-input class="ion-no-padding" readonly [(ngModel)]="item.fabric_blind" placeholder="Select Blind"
            style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;">
          </ion-input>
          <!-- <ion-icon *ngIf="item.fabric_blind != null && item.fabric_blind != ''" (click)="clearFabric('blind')"
            style="font-size: 16px; color: #a17635;" name="close-outline"></ion-icon> -->
        </div>
      </div>

      <!-- Curtain Fabric -->
      <div *ngIf="item.pleat == 'Roman Blind'"
        style="width: 100%; border: 1px solid #e0e0e0; border-radius: 2px; padding: 0px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px;color: #999999">Fabrics</div>
        <div style="width: 100%;display: flex;align-items: center;padding: 13px 0px;font-size: 14px;">
          <ion-input class="ion-no-padding" readonly [(ngModel)]="item.fabric" placeholder="Select Fabrics"
            style="width: calc(100% - 70px); font-size: 14px;--padding-start: 10px;">
          </ion-input>
          <!-- <ion-icon *ngIf="item.fabric != null && item.fabric != ''" (click)="clearFabric('curtain')"
                    style="font-size: 16px; color: #a17635;" name="close-outline"></ion-icon> -->
        </div>
      </div>

      <!-- Decoration -->
      <div *ngIf="item.pleat == 'Zebra Blind'"
        style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px;color: #999999">Decoration</div>
        <ion-input class="ion-no-padding" readonly [(ngModel)]="item.blind_decoration"
          style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;" placeholder="Select a decoration">
        </ion-input>
      </div>

      <div *ngIf="item.pleat == 'Roller Blind'"
        style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px;color: #999999">Decoration</div>
        <ion-input class="ion-no-padding" readonly [(ngModel)]="item.blind_decoration"
          style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;" placeholder="Select a decoration">
        </ion-input>
      </div>

      <div *ngIf="item.pleat == 'Wooden Blind'"
        style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px;color: #999999">Decoration</div>
        <ion-input class="ion-no-padding" readonly [(ngModel)]="item.blind_decoration"
          style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;" placeholder="Select a decoration">
        </ion-input>
      </div>

      <!-- Bracket -->
      <div
        style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px;color: #999999">Bracket </div>
        <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.bracket"
          style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div>

      <!-- Rope/Chain -->
      <div
        style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px;color: #999999">Rope/Chain </div>
        <ion-input readonly placeholder="Select L/R" [(ngModel)]="item.rope_chain"
          style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div>

      <!-- Hook -->
      <!-- <div *ngIf="hookview">

        <div *ngIf="item.pleat != 'French Pleat'"
          style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
          <div style="min-width: 70px;color: #999999">Hook </div>
          <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.hook"
            style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
          </ion-input>
        </div>

        <div *ngIf="item.pleat == 'French Pleat'"
          style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
          <div style="min-width: 70px;color: #999999">Hook </div>
          <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.hook"
            style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
          </ion-input>
        </div>

      </div> -->

      <!-- Belt -->
      <!-- <div
        style="width: 100%; border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between;">
        <div style="min-width: 70px;color: #999999">Belt </div>
        <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.belt"
          style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div> -->

      <!-- Touch Floor-->
      <!-- <div
        style="width: 100%;  border: 1px solid #e0e0e0; border-radius: 2px; padding: 5px 10px; display: flex; align-items: center; justify-content: space-between">
        <div style="min-width: 70px;color: #999999">Sidehook </div>
        <ion-input readonly placeholder="Select Bracket" [(ngModel)]="item.sidehook"
          style="width: calc(100% - 70px) ;height: 30px;--padding-start: 10px;--padding-end: 10px; font-weight: 500; color: #333333">
        </ion-input>
      </div> -->

      <!-- Remark Sales -->
      <div style="margin-top: 25px;color: #333333;font-weight: 600;">
        <div style="min-width: 56px;font-weight: 500;color: #999999">Remark Sales:</div>
        <ion-textarea readonly auto-grow="true" placeholder="-" row="4" [(ngModel)]="item.remark_sale" style="min-height: 65px;height: auto;font-weight: 400;--padding-start: 10px;--padding-end: 10px;
         border-radius: 5px;border: 1px solid #eaeaea;margin-top: 5px;"></ion-textarea>
      </div>

      <!-- Remark Tech -->
      <div style="margin-top: 15px;color: #333333;font-weight: 600;">
        <div style="min-width: 56px;font-weight: 500;color: #999999">Remark Tech:</div>
        <ion-textarea readonly auto-grow="true" placeholder="-" row="4" [(ngModel)]="item.remark_tech" style="min-height: 65px;height: auto;font-weight: 400;--padding-start: 10px;--padding-end: 10px;
         border-radius: 5px;border: 1px solid #eaeaea;margin-top: 5px;"></ion-textarea>
      </div>

      <!-- Remark Tailor -->
      <div style="margin-top: 15px;color: #333333;font-weight: 600;">
        <div style="min-width: 56px;font-weight: 500;color: #999999">Remark Tailor:</div>
        <ion-textarea readonly auto-grow="true" placeholder="-" row="4" [(ngModel)]="item.remark_tail" style="min-height: 65px;height: auto;font-weight: 400;--padding-start: 10px;--padding-end: 10px;
           border-radius: 5px;border: 1px solid #eaeaea;margin-top: 5px;"></ion-textarea>
      </div>

      <!-- Remark Installer -->
      <div style="margin-top: 15px;color: #333333;font-weight: 600;">
        <div style="min-width: 56px;font-weight: 500;color: #999999">Remark Installer:</div>
        <ion-textarea readonly auto-grow="true" placeholder="-" row="4" [(ngModel)]="item.remark_inst" style="min-height: 65px;height: auto;font-weight: 400;--padding-start: 10px;--padding-end: 10px;
           border-radius: 5px;border: 1px solid #eaeaea;margin-top: 5px;"></ion-textarea>
      </div>

      <!-- Old Picture -->
      <div style="margin-top: 15px;min-width: 56px;font-weight: 500;">Images : <span
          style="font-size: 12px;color: #8080808d;">(Click image to view)</span></div>
      <div
        style="display: grid; grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));height: 100%; margin-top: 10px;  ">
        <!-- <div style="display: flex;justify-content: center;padding: 5px 5px 5px 10px;">

         <label for="files" class="btn" style="width: 100px;">
           <div id="button" style="min-height: 100px; max-height: 100px;min-width: 100px;max-width: 100px; border-radius: 5px;display: flex;align-items: center;justify-content: center;
          background-color: gray; box-shadow: 0px 3px 6px rgb(0,0,0,0.1);">

             <ion-icon style="width: 100%; font-size: 15px; color: #ffffff;" name="camera"></ion-icon>

             <input #uploadEl style="display: none" id="files" class="inputclass" accept="image/*" type="file"
               (change)="fileChange($event, '', 600)">

             <canvas style="display: none;" id="canvas"></canvas>

           </div>
         </label>
       </div> -->

        <div *ngFor="let x of item.photos; let i = index"
          style="height: 100%;padding: 5px;display: flex;justify-content: center;">

          <img (click)="openPic(x)"
            style="border-radius: 5px; height: 100px;min-width: 100px;max-width: 100px; object-fit: cover;"
            src="{{x || ''}}" alt="">

          <!-- <div
           style="height: 15px;width: 15px;background-color: white;border-radius: 100px;margin-left: -20px;margin-top: 5px;display: flex;justify-content: center;align-items: center;">
           <ion-icon (click)="deletePic(i)" style="font-size: 13px; color: #a17635;" name="close-outline"></ion-icon>
         </div> -->

        </div>

      </div>

    </div>

    <!-- <div *ngIf="item['type'] == 'Wallpaper' ">

      <div style="display: flex;margin: 15px 15px 5px 15px;">
        <div style="font-weight: 500;">WallerPaper Type :</div>
        <div style="font-weight: 450; margin-left: 15px;">{{WallpaperChoice}}</div>
      </div>
      <div style="margin: 10px 0px;padding: 0 15px 10px 15px;display: flex;overflow-x: auto;">

        <div (click)="wallpaperSelection('Plain')" [ngClass]="PlainWall ? 'selected' :'' " style="margin-right: 15px;">
          <img style="width: 120px;height: 120px;max-width: 120px;max-height: 120px;padding-bottom: 3px;"
            src="assets/icon/wallpaper/plain-wallpaper.jpg" alt="">
          <div
            style="height: 35px;width: 120px;margin-top: -41px;border-radius: 0 0 5px 5px;display: flex;align-items: center;justify-content: center;">
            <div style="height: 33px;width: 100%;background: #606060a8;text-align: center;color: white;position: relative;
        font-size: 15px;font-weight: 500;">
              Plain
            </div>
          </div>
        </div>

        <div (click)="wallpaperSelection('Fabric')" [ngClass]="FabricWall ? 'selected' :'' "
          style="margin-right: 15px;">
          <img style="width: 120px;height: 120px;max-width: 120px;max-height: 120px;padding-bottom: 3px;"
            src="assets/icon/wallpaper/fabric-wallpaper.jpg" alt="">
          <div
            style="height: 35px;width: 120px;margin-top: -41px;border-radius: 0 0 5px 5px;display: flex;align-items: center;justify-content: center;">
            <div style="height: 33px;width: 100%;background: #606060a8;text-align: center;color: white;position: relative;
          font-size: 15px;font-weight: 500;">
              Fabric
            </div>
          </div>
        </div>

        <div (click)="wallpaperSelection('Non-Woven')" [ngClass]="NonWovenWall ? 'selected' :'' "
          style="margin-right: 15px;">
          <img style="width: 120px;height: 120px;max-width: 120px;max-height: 120px;padding-bottom: 3px;"
            src="assets/icon/wallpaper/non-woven-wallpaper.jpg" alt="">
          <div
            style="height: 35px;width: 120px;margin-top: -41px;border-radius: 0 0 5px 5px;display: flex;align-items: center;justify-content: center;">
            <div style="height: 33px;width: 100%;background: #606060a8;text-align: center;color: white;position: relative;
          font-size: 15px;font-weight: 500;">
              Non-Woven
            </div>
          </div>
        </div>

        <div (click)="wallpaperSelection('Patterned')" [ngClass]="PatternWall ? 'selected' :'' "
          style="margin-right: 15px;">
          <img style="width: 120px;height: 120px;max-width: 120px;max-height: 120px;padding-bottom: 3px;"
            src="assets/icon/wallpaper/pattern-wallpaper.jpg" alt="">
          <div
            style="height: 35px;width: 120px;margin-top: -41px;border-radius: 0 0 5px 5px;display: flex;align-items: center;justify-content: center;">
            <div style="height: 33px;width: 100%;background: #606060a8;text-align: center;color: white;position: relative;
          font-size: 15px;font-weight: 500;">
              Patterned
            </div>
          </div>
        </div>

        <div (click)="wallpaperSelection('Vinyl')" [ngClass]="VinylWall ? 'selected' :'' " style="margin-right: 15px;">
          <img style="width: 120px;height: 120px;max-width: 120px;max-height: 120px;padding-bottom: 3px;"
            src="assets/icon/wallpaper/vinyl-wallpaper.jpg" alt="">
          <div
            style="height: 35px;width: 120px;margin-top: -41px;border-radius: 0 0 5px 5px;display: flex;align-items: center;justify-content: center;">
            <div style="height: 33px;width: 100%;background: #606060a8;text-align: center;color: white;position: relative;
          font-size: 15px;font-weight: 500;">
              Vinyl
            </div>
          </div>
        </div>

      </div>

      <div style="margin: 20px 15px 0 15px;">
        <div style="min-width: 56px;font-weight: 500;">Colours :</div>
        <ion-input [(ngModel)]="item.colours" placeholder="Enter Colours Code" style="max-width: 50%;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px;
          border-radius: 5px;border: 1px solid #a17635;margin-top: 5px;">
        </ion-input>
      </div>

      <div style="margin: 20px 15px 0 15px;">
        <div style="min-width: 56px;font-weight: 500;">Prints :</div>
        <ion-input [(ngModel)]="item.prints" placeholder="Enter Prints Code" style="max-width: 50%;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px;
          border-radius: 5px;border: 1px solid #a17635;margin-top: 5px;">
        </ion-input>
      </div>

      <div style="margin: 20px 15px 0 15px;margin-bottom: 50px;">
        <div style="min-width: 56px;font-weight: 500;">Textures :</div>
        <ion-input [(ngModel)]="item.textures" placeholder="Enter Prints Code" style="max-width: 50%;height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px;
          border-radius: 5px;border: 1px solid #a17635;margin-top: 5px;">
        </ion-input>
      </div>

    </div> -->
  </div>

</ion-content>

<ion-footer>

  <div
    style="background: #ebd1af;height: 50px; display: flex;padding: 10px 15px;align-items: center;justify-content: space-between;">

    <div *ngIf="position == 'Sales'" style="width: 40%;padding-left: 5px;">
      <div style="width: 92px;color: #a17635;font-size: 14px;font-weight: 500;">Total Amount :</div>
      <div style="color: #a17635;font-size: 14px;font-weight: 500;">{{price | currency: 'RM '}}</div>
    </div>

    <div
      style="width: 60%;display: flex;align-items: center;justify-content: flex-end;padding: 0 0 0 15px;background: #ebd1af">

    </div>

  </div>

</ion-footer>

<div *ngIf="pic != ''"
  style="position: fixed;top: 0; left: 0;z-index: 1000; background: rgba(0, 0, 0, 0.50);display: flex;flex-direction: column;justify-content: center;align-items: center;width: 100%; height: 100%;">


  <img style="max-height: 70%;" src="{{pic}}">

  <div
    style="height: 24px;width: 24px;background-color: white;border-radius: 5px;display: flex;justify-content: flex-end;align-items: center;margin-top: 20px;">
    <ion-icon (click)="closePic()" style="font-size: 22px; color: #a17635;" name="close-outline"></ion-icon>
  </div>
</div>