<ion-tabs>

  <ion-tab-bar slot="bottom" style="--background: #ffffff; --border: 1px solid #eeeeee">
    <ion-tab-button tab="tab1">
      <ion-icon style="width: 22px;height: 22px;" name="reader"></ion-icon>
      <ion-label>Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon style="width: 22px;height: 22px;" name="person"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon style="width: 22px;height: 22px;" name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab4">
      <ion-icon style="width: 22px;height: 22px;" name="person"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>