<ion-content style="--background: #FAF7F2;">
  <div style="margin: 3px 8px;">
    <ion-searchbar class="searchbar" show-clear-button="focus" value=""></ion-searchbar>
  </div>

  <ion-slides loop="true" pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let item of newsImage">
      <img src="{{item.pic}}">
    </ion-slide>
  </ion-slides>

  <div style="padding: 20px 20px 0 20px; font-size: 20px; font-weight: 600;">Products</div>

  <div style="display: flex; flex-wrap: wrap; justify-content: space-between; padding: 0 20px">
    <div (click)="goProductCategory('category')" *ngFor="let item of products" style="border-radius: 5px; width: calc((100% - 20px) / 2); text-align: justify; background: white; box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.12); margin-top: 20px;">
      <img style="height: 150px; border-radius: 5px 5px 0 0;" src="{{item.img}}">
      <div style="font-size: 14px; font-weight: 600; margin-top: 5px; padding: 0 10px;">{{item.h1}}</div>
      <div style="font-size: 12px; padding: 10px;">{{item.h2}}</div>
    </div>
  </div>

  <div style="padding: 20px 20px 0 20px; font-size: 20px; font-weight: 600;">Services</div>

  <div style="display: flex; flex-wrap: wrap; justify-content: space-between; padding: 0 20px; margin-bottom: 20px;">
    <div (click)="goProductCategory('services')" *ngFor="let item of services" style="border-radius: 5px; width: calc((100% - 20px) / 2); text-align: justify; background: white; box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.12); margin-top: 20px;">
      <img style="height: 150px; border-radius: 5px 5px 0 0;" src="{{item.img}}">
      <div style="font-size: 14px; font-weight: 600; margin-top: 5px; padding: 0 10px;">{{item.h1}}</div>
      <div style="font-size: 12px; padding: 10px;">{{item.h2}}</div>
    </div>
  </div>
</ion-content>