<ion-content [scrollY]="false">

  <div *ngIf="position == 'sales'" style="height: 100vh;width: 100vw;">

    <div
      style="height: 60px; padding: 40px 20px 50px 20px; display: flex;align-items: center; justify-content: space-between;box-shadow: 0 3px 5px #c2c2c2; ">

      <div style="display: flex;justify-content: center;align-items: center;">

        <div>
          <div (click)="changeStatus('sales')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            sales
          </div>
          <div (click)="changeStatus('tech')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            tech
          </div>
        </div>

        <div>
          <div (click)="changeStatus('tailor')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            tailor
          </div>
          <div (click)="changeStatus('installer')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            installer
          </div>
        </div>

      </div>

      <div>
        {{today | date: 'dd MMM yyyy'}}
      </div>

      <div style="max-width: 50%;display: flex;align-items: center;justify-content: flex-end;">

        <div style="max-width: 60%;margin-right: 20px;">
          <div style="max-width: 100%;font-weight: 500;">Mr/Mrs.A B C</div>
          <div style="font-weight: 500;">{{position}}</div>
        </div>

        <img
          style="min-height: 50px;min-width: 50px;max-height: 50px;max-width: 50px;object-fit: cover;border-radius: 50px;border: 2px solid #a17635;"
          src="https://cdn.britannica.com/92/215392-050-96A4BC1D/Australian-actor-Chris-Hemsworth-2019.jpg" alt="">

      </div>

    </div>

    <div style="margin-top: 15px;margin-bottom: 2px;display: flex;align-items: center;">

      <div (click)="status('p')" [ngClass]="statusPending? 'selected' : ''" style="width: 33%;padding: 5px;text-align: center;;">Pending</div>
      <div>|</div>
      <div (click)="status('o')" [ngClass]="statusOnGoing? 'selected' : ''" style="width: 33%;padding: 5px;text-align: center;;">On-Going</div>
      <div>|</div>
      <div (click)="status('c')" [ngClass]="statusCompleted? 'selected' : ''"style="width: 33%;padding: 5px;text-align: center;;">Completed</div>

    </div>

    <div *ngIf="statusPending"
      style="height: calc(100vh - 170px);padding: 25px 10px 10px 10px;display: flex;align-items: center;flex-direction: column;overflow-y: auto;">

      <div  *ngFor="let x of pendingList; let i = index" (click)="toDetail(x)" style="width: 100%;box-shadow: 0 3px 5px #c2c2c2;
       border-radius: 7px;margin-bottom: 15px;">

        <div style="display: flex;flex-direction: column;justify-content: center;padding: 5px 20px 0 5px;">

          <div style="margin-bottom: 5px;font-weight: 400;display: flex;align-items: center;justify-content: space-between;">
            <div>#{{i+1}}</div>
            <div>color</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">Client :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.client}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="min-width: 56px;font-weight: 700;">Address :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.address}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">Contact :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.contact}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">House Type :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.house_type}}</div>
          </div>

          <div style="width: 100%;height: 1px;background: #a17635;border-radius: 20px;margin-bottom: 5px;"></div>
        </div>

        <div style="display: flex;justify-content: flex-end;padding-right: 15px;margin-bottom: 10px;">

          <div
            style="padding: 5px;border-radius: 20px;color: white;font-weight: 350;
        background: linear-gradient(135deg, rgba(198,152,80,1) 30%, rgba(161,118,53,1) 30%, rgba(204,150,68,1) 82%, rgba(193,137,52,1) 82%);">
            View Details
          </div>
        </div>

      </div>

    </div>

  </div>

  <div *ngIf="position == 'tech'" style="height: 100vh;width: 100vw;">

    <div
      style="height: 60px; padding: 40px 20px 50px 20px; display: flex;align-items: center; justify-content: space-between;box-shadow: 0 3px 5px #c2c2c2; ">

      <div style="display: flex;justify-content: center;align-items: center;">

        <div>
          <div (click)="changeStatus('sales')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            sales
          </div>
          <div (click)="changeStatus('tech')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            tech
          </div>
        </div>

        <div>
          <div (click)="changeStatus('tailor')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            tailor
          </div>
          <div (click)="changeStatus('installer')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            installer
          </div>
        </div>

      </div>

      <div>
        {{today | date: 'dd MMM yyyy'}}
      </div>

      <div style="max-width: 50%;display: flex;align-items: center;justify-content: flex-end;">

        <div style="max-width: 60%;margin-right: 20px;">
          <div style="max-width: 100%;font-weight: 500;">Mr/Mrs.A B C</div>
          <div style="font-weight: 500;">{{position}}</div>
        </div>

        <img
          style="min-height: 50px;min-width: 50px;max-height: 50px;max-width: 50px;object-fit: cover;border-radius: 50px;border: 2px solid #a17635;"
          src="https://cdn.britannica.com/92/215392-050-96A4BC1D/Australian-actor-Chris-Hemsworth-2019.jpg" alt="">

      </div>

    </div>

    <div style="margin-top: 15px;margin-bottom: 2px;display: flex;align-items: center;">

      <div (click)="status('p')" [ngClass]="statusPending? 'selected' : ''" style="width: 33%;padding: 5px;text-align: center;;">Pending</div>
      <div>|</div>
      <div (click)="status('o')" [ngClass]="statusOnGoing? 'selected' : ''" style="width: 33%;padding: 5px;text-align: center;;">On-Going</div>
      <div>|</div>
      <div (click)="status('c')" [ngClass]="statusCompleted? 'selected' : ''"style="width: 33%;padding: 5px;text-align: center;;">Completed</div>

    </div>

    <div *ngIf="statusPending"
      style="height: calc(100vh - 170px);padding: 25px 10px 10px 10px;display: flex;align-items: center;flex-direction: column;overflow-y: auto;">

      <div  *ngFor="let x of pendingList; let i = index" (click)="toDetail(x)" style="width: 100%;box-shadow: 0 3px 5px #c2c2c2;
       border-radius: 7px;margin-bottom: 15px;">

        <div style="display: flex;flex-direction: column;justify-content: center;padding: 5px 20px 0 5px;">

          <div style="margin-bottom: 5px;font-weight: 400;display: flex;align-items: center;justify-content: space-between;">
            <div>#{{i+1}}</div>
            <div>color</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">Client :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.client}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="min-width: 56px;font-weight: 700;">Address :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.address}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">Contact :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.contact}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">House Type :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.house_type}}</div>
          </div>

          <div style="width: 100%;height: 1px;background: #a17635;border-radius: 20px;margin-bottom: 5px;"></div>
        </div>

        <div style="display: flex;justify-content: flex-end;padding-right: 15px;margin-bottom: 10px;">

          <div
            style="padding: 5px;border-radius: 20px;color: white;font-weight: 350;
        background: linear-gradient(135deg, rgba(198,152,80,1) 30%, rgba(161,118,53,1) 30%, rgba(204,150,68,1) 82%, rgba(193,137,52,1) 82%);">
            View Details
          </div>
        </div>

      </div>

    </div>

  </div>

  <div *ngIf="position == 'tailor'" style="height: 100vh;width: 100vw;">

    <div
      style="height: 60px; padding: 40px 20px 50px 20px; display: flex;align-items: center; justify-content: space-between;box-shadow: 0 3px 5px #c2c2c2; ">

      <div style="display: flex;justify-content: center;align-items: center;">

        <div>
          <div (click)="changeStatus('sales')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            sales
          </div>
          <div (click)="changeStatus('tech')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            tech
          </div>
        </div>

        <div>
          <div (click)="changeStatus('tailor')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            tailor
          </div>
          <div (click)="changeStatus('installer')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            installer
          </div>
        </div>

      </div>

      <div>
        {{today | date: 'dd MMM yyyy'}}
      </div>

      <div style="max-width: 50%;display: flex;align-items: center;justify-content: flex-end;">

        <div style="max-width: 60%;margin-right: 20px;">
          <div style="max-width: 100%;font-weight: 500;">Mr/Mrs.A B C</div>
          <div style="font-weight: 500;">{{position}}</div>
        </div>

        <img
          style="min-height: 50px;min-width: 50px;max-height: 50px;max-width: 50px;object-fit: cover;border-radius: 50px;border: 2px solid #a17635;"
          src="https://cdn.britannica.com/92/215392-050-96A4BC1D/Australian-actor-Chris-Hemsworth-2019.jpg" alt="">

      </div>

    </div>

    <div style="margin-top: 15px;margin-bottom: 2px;display: flex;align-items: center;">

      <div (click)="status('p')" [ngClass]="statusPending? 'selected' : ''" style="width: 33%;padding: 5px;text-align: center;;">Pending</div>
      <div>|</div>
      <div (click)="status('o')" [ngClass]="statusOnGoing? 'selected' : ''" style="width: 33%;padding: 5px;text-align: center;;">On-Going</div>
      <div>|</div>
      <div (click)="status('c')" [ngClass]="statusCompleted? 'selected' : ''"style="width: 33%;padding: 5px;text-align: center;;">Completed</div>

    </div>

    <div *ngIf="statusPending"
      style="height: calc(100vh - 170px);padding: 25px 10px 10px 10px;display: flex;align-items: center;flex-direction: column;overflow-y: auto;">

      <div  *ngFor="let x of pendingList; let i = index" (click)="toDetail(x)" style="width: 100%;box-shadow: 0 3px 5px #c2c2c2;
       border-radius: 7px;margin-bottom: 15px;">

        <div style="display: flex;flex-direction: column;justify-content: center;padding: 5px 20px 0 5px;">

          <div style="margin-bottom: 5px;font-weight: 400;display: flex;align-items: center;justify-content: space-between;">
            <div>#{{i+1}}</div>
            <div>color</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">Client :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.client}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="min-width: 56px;font-weight: 700;">Address :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.address}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">Contact :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.contact}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">House Type :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.house_type}}</div>
          </div>

          <div style="width: 100%;height: 1px;background: #a17635;border-radius: 20px;margin-bottom: 5px;"></div>
        </div>

        <div style="display: flex;justify-content: flex-end;padding-right: 15px;margin-bottom: 10px;">

          <div
            style="padding: 5px;border-radius: 20px;color: white;font-weight: 350;
        background: linear-gradient(135deg, rgba(198,152,80,1) 30%, rgba(161,118,53,1) 30%, rgba(204,150,68,1) 82%, rgba(193,137,52,1) 82%);">
            View Details
          </div>
        </div>

      </div>

    </div>

  </div>

  <div *ngIf="position == 'installer'" style="height: 100vh;width: 100vw;">

    <div
      style="height: 60px; padding: 40px 20px 50px 20px; display: flex;align-items: center; justify-content: space-between;box-shadow: 0 3px 5px #c2c2c2; ">

      <div style="display: flex;justify-content: center;align-items: center;">

        <div>
          <div (click)="changeStatus('sales')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            sales
          </div>
          <div (click)="changeStatus('tech')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            tech
          </div>
        </div>

        <div>
          <div (click)="changeStatus('tailor')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            tailor
          </div>
          <div (click)="changeStatus('installer')" style="border: 1px solid black;margin: 4px;padding: 3px;border-radius: 5px;">
            installer
          </div>
        </div>

      </div>

      <div>
        {{today | date: 'dd MMM yyyy'}}
      </div>

      <div style="max-width: 50%;display: flex;align-items: center;justify-content: flex-end;">

        <div style="max-width: 60%;margin-right: 20px;">
          <div style="max-width: 100%;font-weight: 500;">Mr/Mrs.A B C</div>
          <div style="font-weight: 500;">{{position}}</div>
        </div>

        <img
          style="min-height: 50px;min-width: 50px;max-height: 50px;max-width: 50px;object-fit: cover;border-radius: 50px;border: 2px solid #a17635;"
          src="https://cdn.britannica.com/92/215392-050-96A4BC1D/Australian-actor-Chris-Hemsworth-2019.jpg" alt="">

      </div>

    </div>

    <div style="margin-top: 15px;margin-bottom: 2px;display: flex;align-items: center;">

      <div (click)="status('p')" [ngClass]="statusPending? 'selected' : ''" style="width: 33%;padding: 5px;text-align: center;;">Pending</div>
      <div>|</div>
      <div (click)="status('o')" [ngClass]="statusOnGoing? 'selected' : ''" style="width: 33%;padding: 5px;text-align: center;;">On-Going</div>
      <div>|</div>
      <div (click)="status('c')" [ngClass]="statusCompleted? 'selected' : ''"style="width: 33%;padding: 5px;text-align: center;;">Completed</div>

    </div>

    <div *ngIf="statusPending"
      style="height: calc(100vh - 170px);padding: 25px 10px 10px 10px;display: flex;align-items: center;flex-direction: column;overflow-y: auto;">

      <div  *ngFor="let x of pendingList; let i = index" (click)="toDetail(x)" style="width: 100%;box-shadow: 0 3px 5px #c2c2c2;
       border-radius: 7px;margin-bottom: 15px;">

        <div style="display: flex;flex-direction: column;justify-content: center;padding: 5px 20px 0 5px;">

          <div style="margin-bottom: 5px;font-weight: 400;display: flex;align-items: center;justify-content: space-between;">
            <div>#{{i+1}}</div>
            <div>color</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">Client :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.client}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="min-width: 56px;font-weight: 700;">Address :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.address}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">Contact :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.contact}}</div>
          </div>

          <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
            <div style="font-weight: 700;">House Type :</div>
            <div style="font-weight: 400;padding-left: 10px;">{{x.house_type}}</div>
          </div>

          <div style="width: 100%;height: 1px;background: #a17635;border-radius: 20px;margin-bottom: 5px;"></div>
        </div>

        <div style="display: flex;justify-content: flex-end;padding-right: 15px;margin-bottom: 10px;">

          <div
            style="padding: 5px;border-radius: 20px;color: white;font-weight: 350;
        background: linear-gradient(135deg, rgba(198,152,80,1) 30%, rgba(161,118,53,1) 30%, rgba(204,150,68,1) 82%, rgba(193,137,52,1) 82%);">
            View Details
          </div>
        </div>

      </div>

    </div>

  </div>
</ion-content>