<ion-content [scrollY]="false">

  <div style="width: 100vw;height: 100vh;display: flex;flex-direction: column;">

    <div style="background-color: #ebd1af; height: 150px; padding: 40px 20px 10px 20px; display: flex;align-items: center; 
      justify-content: space-between; border-radius: 0 0 10px 10px;box-shadow: 0 3px 5px #adadad;">

      <div style="display: flex;align-items: center;">

        <div style="padding-right: 15px;">

          <div style="font-size: 11px;font-weight: 500;color: white;">Name:</div>
          <div style="margin-bottom: 10px;font-size: 15px;font-weight: 600;color: white;">
            {{user.name}}
          </div>

          <div style="font-size: 11px;font-weight: 500;color: white;">Position:</div>
          <div style="font-size: 15px;font-weight: 600;color: white;">
            {{user.position}}
          </div>

        </div>

      </div>

      <img
        style="min-height: 70px;min-width: 70px;max-height: 60px;max-width: 60px;object-fit: cover;border-radius: 50px;border: 2px solid white;"
        src="{{user['photo'] || 'https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg'}}">
      <!-- <div style="display: flex;color: white;">
        <ion-icon style="font-size:20px" name="log-out-outline"></ion-icon>
        Logout
      </div> -->

    </div>

    <div (click)="toProfile()" style="height: 50px;margin-top: 50px;display: flex;align-items: center;padding-left: 20px;justify-content: space-between;box-shadow: 0 2px 4px #adadad;
    background-color: #ebd1af;">
      <div style="display: flex;">
        <ion-icon style="font-size:20px;color: white;margin-right: 15px;" name="create-outline"></ion-icon>
        <div style="color: white;font-size: 15px;font-weight: 500;margin-right: 15px;">|</div>
        <div style="color: white;font-size: 15px;font-weight: 500;display: flex;align-items: center;">Edit Profile</div>
      </div>
      <div style="display: flex;justify-content: center;">
        <ion-icon style="color: white;margin-right: 15px;" name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <div (click)="logout()" style="height: 50px;margin-top: 20px;display: flex;align-items: center;padding-left: 20px;justify-content: space-between;box-shadow: 0 2px 4px #adadad;
      background-color: #ebd1af;">
      <div style="display: flex;">
        <ion-icon style="font-size:20px;color: white;margin-right: 15px;" name="log-out-outline"></ion-icon>
        <div style="color: white;font-size: 15px;font-weight: 500;margin-right: 15px;">|</div>
        <div style="color: white;font-size: 15px;font-weight: 500;display: flex;align-items: center;">Logout</div>
      </div>
      <div style="display: flex;justify-content: center;">
        <ion-icon style="color: white;margin-right: 15px;" name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <div style="margin-left: 5px;margin-top: 20px;font-size: 10px;color: dimgrey;">Ver 1.4.5</div>

  </div>

</ion-content>