<ion-content style="--background: #FAF7F2;">
  <div *ngIf="isCategory == 'category'">
    <div (click)="back()"
      style="padding: 15px 20px; display: flex; align-items: center; justify-content: space-between; font-size: 20px; font-weight: 600; color: #000000;">
      <ion-icon style="margin-right: 10px;" name="chevron-back-outline"></ion-icon>

      <ion-icon style="visibility: hidden;" name="chevron-back-outline"></ion-icon>
    </div>

    <div style="width: 100%; padding: 0 20px; margin-bottom: 30px;">
      <div style="font-size: 30px; font-weight: 800; color: #000000; margin-bottom: 5px;">Category</div>

      <div style=" font-size: 12px; font-weight: 500; color: #333333 ;">Blinds put
        you in charge of what's coming through your windows, whether it's sunlight or inquisitive looks form the
        neighbours.</div>
    </div>

    <div style="width: 100%">
      <div (click)="goProductDetails()" *ngFor="let item of categoryDetails"
        style="width: 100%; display: flex; align-items: center; padding: 10px; margin-bottom: 10px; border-bottom: 0.5px solid #e0e0e0; justify-content: space-between; position: relative; background-color: #f3f0ea;">
        <!-- <div style="width: 30%; height: 98px; display: flex; justify-content: flex-start; align-items: center; padding: 4px 0 4px 4px;">
          <img style=" width: 90px; height: 90px; border-radius: 8px;" src="{{item.img}}">
        </div> -->


        <!-- <div
          style="position: absolute; top: 0; right: 0; border-radius: 0 10px 0 10px; background: #DEC5A5; color: white; padding: 5px 20px; font-size: 13px;">
          View</div> -->
        <div style="width:100%; display: flex; align-items: flex-start">
          <div
            style="min-width: 110px; max-width: 110px; min-height: 110px; max-height: 110px; display: flex; justify-content: center; align-items: center;">
            <img style="min-width: 100px; max-width: 100px; min-height: 100px; max-height: 100px; border-radius: 6px;"
              src="{{item.img}}">
          </div>

          <div style="margin-left: 6px; text-align: left; padding: 10px 8px 4px 0;">
            <div style="font-weight: 600; margin-bottom: 5px;">{{item.h1}}</div>
            <div style="font-size: 11px; letter-spacing: .5px; color: #555555;">{{item.h2}}</div>
            <!-- <div
            style="width: 100%; display: flex; justify-content: flex-end; position: absolute; bottom: 10px; right: 10px">
            <div
              style="width: fit-content; padding: 5px 15px; border-radius: 30px; background-color: #a17635; display: flex; align-items: center; justify-content: center">
              <div style="font-size: 12px; font-weight: 500; color: #ffffff; letter-spacing: 0.5px;">View</div>
            </div>
          </div> -->
          </div>
        </div>

        <!-- <div style="width: 10%">
      <ion-icon style="color: #999999" slot="start" name="chevron-forward-outline"></ion-icon>
      </div> -->
      </div>
    </div>
  </div>

  <div *ngIf="isCategory == 'services'">
    <div (click)="back()"
      style="z-index: 1002; position: fixed; opacity: 0.5; display: flex; justify-content: center; align-items: center; min-width: 30px; max-width: 30px; min-height: 30px; max-height: 30px;  top: 20px; left: 20px; border-radius: 100%; background: black; color: white;">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </div>

    <div style="width: 100%; height: 300px; position: relative;">
      <img style="object-fit: cover; width: 100%; height: 100%;"
        src="https://media.designcafe.com/wp-content/uploads/2021/02/15210529/9-bright-white-bedroom-curtain-ideas.jpg">

      <!-- <div
        style="width: 200px; position: absolute; top: 0; right: 0; padding: 20px 10px; font-size: 18px; color: rgb(161, 118, 53);">
        <span style="font-weight: 600;">No time to clean your curtains?</span><br>Let Curtain Library's professionals
        take care of it for you.
      </div> -->
    </div>

    <div style="padding: 20px; font-size: 16px; font-weight: 600;">Hotel Curtain Experts, Right at Your Doorstep</div>

    <div style="margin: 0 20px 10px 20px; font-size: 13px; font-weight: 600;color:#a17635;">Exclusive Service at an
      Attractive Price</div>
    <div style="margin: 0 20px; letter-spacing: .5px; text-align: justify; font-size: 13px; color:#333333;">This
      envy-worthy perk is only for existing Curtain Library customers that want to give their old curtains a fresh new
      look.</div>

    <div style="margin: 20px 20px 10px 20px; font-size: 13px; font-weight: 600;color:#a17635;">In-home Consultation
    </div>
    <div style="margin: 0 20px; letter-spacing: .5px; text-align: justify; font-size: 13px; color:#333333;">Our on-site
      team will inspect your curtains on the pick-up day and provide a final quotation based on the curtain's weight
      (kg) we will be cleaning. We will also advise you on how to properly care for them in the long run.</div>

    <div style="margin: 20px 20px 10px 20px; font-size: 13px; font-weight: 600;color:#a17635;">COVID-19 SOP Compliant
      Team</div>
    <div style="margin: 0 20px; letter-spacing: .5px; text-align: justify; font-size: 13px; color:#333333;">Our team of
      professionals are trained to comply with all the standard operating procedures such as always wearing masks,
      practising social distancing, and conducting thorough sanitation processes.</div>

    <div style="margin: 20px 20px 10px 20px; font-size: 13px; font-weight: 600;color:#a17635;">Serviced by Curtain
      Cleaning Professionals</div>
    <div style="margin: 0 20px; letter-spacing: .5px; text-align: justify; font-size: 13px; color:#333333;">When it
      comes to curtain cleaning experience and knowledge, our experts are first in line with over 16 years of service in
      the hotel industry and large organisations.</div>

    <div style="margin: 20px 20px 10px 20px; font-size: 13px; font-weight: 600;color:#a17635;">Pick Up, Dismantling,
      Cleaning, Installation & Delivery
    </div>
    <div style="margin: 0 20px; letter-spacing: .5px; text-align: justify; font-size: 13px; color:#333333;">After the
      team dismantles and removes your curtains, we then clean up the work area in your home to ensure that we leave the
      place cleaner than before we took down your curtains.</div>

    <div style="margin: 20px 20px 10px 20px; font-size: 13px; font-weight: 600;color:#a17635;">Minor Alterations, Accessories Repair or Replacement</div>
    <div style="margin: 0 20px 90px; letter-spacing: .5px; text-align: justify; font-size: 13px; color:#333333;">Our team is
      also equipped and ready to provide on-site services for replacing or repairing missing accessories, curtain hooks,
      tears, or stains on your curtains.</div>

    <!-- <div style="display: flex; justify-content:flex-end; margin: 20px;">
      <div
        style="display: flex; align-items: center; font-size: 13px; padding: 10px 20px; color: white; background: rgb(161, 118, 53);">
        ENQUIRE NOW</div>
    </div> -->

    <div
      style="display: flex; justify-content:flex-end; align-items:center; width:100%; height: 60px; background: #FAF7F2; position: fixed; bottom: 0; box-shadow: 0 0 4px 0 #dddddd;">
      <div
        style="display: flex; margin-right: 15px; align-items: center; font-size: 13px; padding: 10px 20px; color: white; background: rgb(161, 118, 53);">
        ENQUIRE NOW</div>
    </div>
  </div>
</ion-content>