<ion-content>
  <div style='background-color:white;position: sticky;top:0;left:0;z-index: 9999;border-bottom:1px solid #eeeeee;'>
    <div style='width:100vw;padding:15px 15px;display:flex;justify-content: space-between;align-items: center;'>
      <div style='display:flex;justify-content: space-between;align-items: center;width:100%;'>
        <ion-icon (click)='back()' style='color:#576d89;font-size:20px;' name="arrow-back"></ion-icon>
        <div style='font-size:16px;color:#333333;'>Select Fabric</div>
        <ion-icon style='color:#576d89;font-size:20px;opacity: 0;' name="arrow-back"></ion-icon>
      </div>
    </div>
  </div>

  <div style='width:100vw;'>
    <div style="padding: 10px;">
      <div
        style="padding: 10px; border-radius: 10px; background-color: #fafafa; display: flex; align-items: center; font-size: 14px; color: #333333;">
        <ion-icon name="search-outline" style="margin-right: 10px"></ion-icon>
        <ion-input [(ngModel)]="keyword" class="ion-no-padding" placeholder="Seach Something"></ion-input>
      </div>
    </div>

    <div *ngFor='let x of filter(array); let i = index' style='border-bottom:1px solid #eeeeee;width:100%;'>
      <div *ngIf=" i > 0 && filter(array)[i].collection != filter(array)[i - 1].collection"
        style='font-size:14px; padding:15px; background-color: #ebd1af; color: #a17635;'>{{x.collection}}</div>
      <div *ngIf=" i == 0" style='font-size:14px; padding:15px; background-color: #ebd1af; color: #a17635;'>
        {{x.collection}}</div>
      <div (click)='done(x)' style='font-size:14px;color:#333333; padding:15px; cursor: pointer;'>{{x.name}}</div>
    </div>
  </div>

  <div style="height: 70px; width: 100vw;"></div>

</ion-content>