<ion-header style="--background: #FAF7F2">

  <div style="height: 50px; width: 100%; display: flex;align-items: center; padding: 0 15px;background-color: #ebd1af;">

    <div
      style="height: 24px;width: 24px;background-color: white;border-radius: 5px;display: flex;justify-content: center;align-items: center;">
      <ion-icon (click)="back()" style="font-size: 22px; color: #a17635;" name="close-outline"></ion-icon>
    </div>

    <div style="font-weight: 500;color: #a17635;font-size: 18px;padding-left: 15px;letter-spacing: 0.5px;">
      {{item.location}}'s Quotation
    </div>

  </div>

</ion-header>

<ion-content style="--background: #FAF7F2">

  <div *ngIf="lengthof(calc) > 0 "
    style="margin: 10px;box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;background: white;border-radius: 5px; padding: 10px; margin-bottom: 15px;">

    <div *ngIf="item.type != 'Blinds'">
      <div style="display: flex;justify-content: space-between; margin-bottom: 15px;">
        <div style="width: fit-content;font-weight: 500;padding-top: 10px;">
          <div style="font-size: 15px; font-weight: 600; color: #000;border-bottom: 0.5px solid #a17635;">
            {{item.location}}
          </div>
        </div>
      </div>

      <div style="display: flex;justify-content: space-between;font-weight: 450;font-size: 13px;">

        <div style="width: 60%;font-size: 14px;">
          Description
        </div>

        <div style="width: 40%;display: flex;justify-content: flex-end;">
          <div style="width: 30%;text-align: center;">
            Qty
          </div>
          <div style="width: 70%;text-align: center;">
            Total (RM)
          </div>
        </div>

      </div>

      <div *ngIf="calc.install"
        style="width: 100%; font-size: 13px; font-weight: 400; color: #222222; padding: 10px 0px; margin: 10px 0px; border-top: 2px dashed #a17635; border-bottom: 2px dashed #a17635;">

        <!-- Width & Height -->
        <div style="display: flex;justify-content: space-between; margin-bottom: 10px;">
          <div *ngIf="item.height_tech != null || item.width_tech != null"
            style="font-size: 13px; font-weight: 400; color: #999;">
            {{item.width_tech}}" x {{item.height_tech}}"
          </div>
          <div *ngIf="item.height_tech == null && item.width_tech == null"
            style="font-size: 13px; font-weight: 400; color: #999;">
            {{item.width}}" x {{item.height}}"
          </div>
        </div>

        <!-- Curtain -->
        <div *ngIf="item.fabric != null && lengthof(calc.curtain) > 0 "
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Curtain - {{item.fabric}}<span *ngIf="item.code_curtain">-{{item.code_curtain}}</span> (m)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.curtain.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.curtain.total | currency: ' '}}<span
                *ngIf="calc.curtain.promo_rate != 0 && calc.curtain.promo_rate != null">
                (-{{calc.curtain.promo_rate}}%)</span>
            </div>
          </div>
        </div>

        <!-- Lining -->
        <div *ngIf="item.fabric_lining != null && lengthof(calc.lining) > 0 "
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Lining - {{item.fabric_lining}}<span *ngIf="item.code_lining">-{{item.code_lining}}</span> (m)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.lining.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.lining.total | currency: ' '}}<span
                *ngIf="calc.lining.promo_rate != 0 && calc.lining.promo_rate != null">
                (-{{calc.lining.promo_rate}}%)</span>
            </div>
          </div>
        </div>

        <!-- Sheer -->
        <div *ngIf="lengthof(item.fabric_sheer) > 0 && lengthof(calc.sheer) > 0"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Sheer - {{item.fabric_sheer}}<span *ngIf="item.code_sheer">-{{item.code_sheer}}</span> (m)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.sheer.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.sheer.total | currency: ' '}}<span
                *ngIf="calc.sheer.promo_rate != 0 && calc.sheer.promo_rate != null">
                (-{{calc.sheer.promo_rate}}%)</span>
            </div>
          </div>
        </div>

        <!-- Sewing Curtain + Lining -->
        <div *ngIf="lengthof(calc.curtain) > 0"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Sewing <span>{{item.pleat_short}} </span><span *ngIf="lengthof(calc.curtain) > 0">Curtain</span> <span
              *ngIf="lengthof(calc.curtain) > 0 && lengthof(calc.lining) > 0 "> + </span>
            <span *ngIf="lengthof(calc.lining) > 0">Lining</span> (ft)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.sewing_curtain.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.sewing_curtain.total | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Sewing Sheer -->
        <div *ngIf="lengthof(calc.sewing_sheer) > 0"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Sewing <span>{{item.pleat_sheer_short}} </span>Sheer (ft)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.sewing_sheer.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.sewing_sheer.total | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Track -->
        <div *ngIf="lengthof(calc.track) > 0"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div *ngIf="item.track == 'Super Track'">
            (C) {{item.track}} (ft)
          </div>
          <div *ngIf="item.track != 'Super Track'">
            (C) {{item.track}} Track (ft)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.track.qty}}
            </div>
            <div *ngIf="calc.track.total > 0" style="width: 70%;text-align: end;">
              {{calc.track.total | currency: ' '}}
            </div>
            <div *ngIf="calc.track.total <= 0" style="width: 70%;text-align: end;">
              WAIVED
            </div>
          </div>
        </div>

        <!-- Track Sheer -->
        <div *ngIf="lengthof(calc.track_sheer) > 0"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div *ngIf="item.track_sheer == 'Super Track'">
            (C) {{item.track_sheer}} (ft)
          </div>
          <div *ngIf="item.track_sheer != 'Super Track'">
            (C) {{item.track_sheer}} Track (ft)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.track_sheer.qty}}
            </div>
            <div *ngIf="calc.track_sheer.total > 0" style="width: 70%;text-align: end;">
              {{calc.track_sheer.total | currency: ' '}}
            </div>
            <div *ngIf="calc.track_sheer.total <= 0" style="width: 70%;text-align: end;">
              WAIVED
            </div>
          </div>
        </div>

        <!-- Motorized -->
        <div *ngIf="lengthof(calc.motorized) > 0"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Upgrade Motorized Track ({{calc.motorized.unit}})
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.motorized.qty}}
            </div>
            <div *ngIf="calc.motorized.cost == 'FOC'" style="width: 70%;text-align: end;">
              FOC
            </div>
            <div *ngIf="calc.motorized.cost != 'FOC'" style="width: 70%;text-align: end;">
              {{calc.motorized.total | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Lift -->
        <div *ngIf="lengthof(calc.motorized) > 0 && calc.motorized.lift != 0"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Upgrade Lift System ({{calc.motorized.unit}})
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.motorized.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.motorized.lift | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Motorized -->
        <div *ngIf="lengthof(calc.motorized) > 0"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Installation Motorized Track ({{calc.motorized.unit}})
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.motorized.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.motorized.install | currency: ' '}}
            </div>
          </div>
        </div>

        <div *ngIf="pass">
          <!-- Installation Ladder -->
          <!-- <div *ngIf="calc.install.ladder" style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Installation w/Ladder ({{calc.install.unit}})
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc.install.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc.install.ladder_price | currency: ' '}}
              </div>
            </div>
          </div> -->

          <!-- Installation Scaftfolding -->
          <!-- <div *ngIf="calc.install.scaftfolding"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Installation w/Scaftfolding ({{calc.install.unit}})
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc.install.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc.install.scaftfolding_price | currency: ' '}}
              </div>
            </div>
          </div> -->

        </div>
        <!-- Installation & Hang -->
        <div *ngIf="lengthof(calc.install) > 0"
          style="display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Installation & Hang (set)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.install.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.install.total | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Belt & Hook -->
        <div *ngIf="calc.install.belt_hook != 0"
          style="display: flex;justify-content: space-between;margin-bottom: 5px;">
          <div>
            Belt & Hook (set)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              1
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.install.belt_hook | currency: ' '}}
            </div>
          </div>
        </div>

      </div>

      <div style="display: flex;justify-content: flex-end;">
        <div style="display: flex;justify-content: flex-end;">
          <div *ngIf="item.price_old == null" style="font-size: 18px; font-weight: 700; color: #000;">
            RM {{item.price | currency: ' '}}</div>
          <div *ngIf="item.price_old != null" style="font-size: 18px; font-weight: 700; color: #000;">
            RM {{item.price | currency: ' '}} <span style="text-decoration: line-through;">{{item.price_old | currency:
              ' '}}</span></div>
        </div>

      </div>
    </div>

    <div *ngIf="item.type == 'Blinds'">

      <div style="display: flex;justify-content: space-between; margin-bottom: 15px;">
        <div style="width: fit-content;font-weight: 500;padding-top: 10px;">
          <div style="font-size: 15px; font-weight: 600; color: #000;border-bottom: 0.5px solid #a17635;">
            {{item.location}}
          </div>
        </div>
      </div>

      <div style="display: flex;justify-content: space-between;font-weight: 450;font-size: 13px;">

        <div style="width: 60%;font-size: 14px;">
          Description
        </div>

        <div style="width: 40%;display: flex;justify-content: flex-end;">
          <div style="width: 30%;text-align: center;">
            Qty
          </div>
          <div style="width: 70%;text-align: center;">
            Total (RM)
          </div>
        </div>

      </div>

      <div style="width: 100%; font-size: 13px; font-weight: 400; color: #222222; padding: 10px 0px; margin: 10px 0px;
       border-top: 2px dashed #a17635; border-bottom: 2px dashed #a17635;">

        <!-- Width & Height -->
        <div style="display: flex;justify-content: space-between; margin-bottom: 10px;">
          <div *ngIf="item.height_tech != null || item.width_tech != null"
            style="font-size: 13px; font-weight: 400; color: #999;">
            {{item.width_tech}}" x {{item.height_tech}}"
          </div>
          <div *ngIf="item.height_tech == null && item.width_tech == null"
            style="font-size: 13px; font-weight: 400; color: #999;">
            {{item.width}}" x {{item.height}}"
          </div>
        </div>

        <!-- Blind -->
        <div *ngIf="item.fabric_blind != null && item.pleat != 'Roman Blind'"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            {{item.pleat}} - {{item.fabric_blind}}<span *ngIf="item.code_blind">-{{item.code_blind}}</span><span
              *ngIf="item.blind_tape"> (Tape {{item.blind_tape}})</span> (sqft)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              <!-- {{calc.blind.qty}} -->
              {{calc.blind.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.blind.total | currency: ' '}}<span
                *ngIf="calc.blind.promo_rate != 0 && calc.blind.promo_rate != null">
                (-{{calc.blind.promo_rate}}%)</span>
            </div>
          </div>
        </div>

        <!-- Curtain -->
        <div *ngIf="item.fabric != null && lengthof(calc.curtain) > 0 && item.pleat == 'Roman Blind'"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Roman Blind - {{item.fabric}}<span *ngIf="item.code_curtain">-{{item.code_curtain}}</span> (m)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.curtain.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.curtain.total | currency: ' '}}<span
                *ngIf="calc.curtain.promo_rate != 0 && calc.curtain.promo_rate != null">
                (-{{calc.curtain.promo_rate}}%)</span>
            </div>
          </div>
        </div>

        <!-- Lining -->
        <div *ngIf="item.fabric_lining != null && lengthof(calc.lining) > 0 && item.pleat == 'Roman Blind'"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Lining - {{item.fabric_lining}}<span *ngIf="item.code_lining">-{{item.code_lining}}</span> (m)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.lining.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.lining.total | currency: ' '}}<span
                *ngIf="calc.lining.promo_rate != 0 && calc.lining.promo_rate != null">
                (-{{calc.lining.promo_rate}}%)</span>
            </div>
          </div>
        </div>

        <!-- Sewing Curtain -->
        <div *ngIf="lengthof(calc.curtain) > 0 && item.pleat == 'Roman Blind'"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Sewing for Roman Blind (ft)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.sewing_curtain.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.sewing_curtain.total | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Sewing Lining -->
        <div *ngIf="lengthof(calc.lining) > 0 && item.pleat == 'Roman Blind'"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Sewing for Lining (ft)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.sewing_lining.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.sewing_lining.total | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Mechanism -->
        <div *ngIf="lengthof(calc.mechanism) > 0 && item.pleat == 'Roman Blind'"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Mechanism (ft)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.mechanism.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.mechanism.total | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Spring -->
        <div *ngIf="calc.blind_spring.total > 0 && item.pleat == 'Roller Blind'"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Add Spring (set)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.blind_spring.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.blind_spring.total | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Tube -->
        <div *ngIf="calc.blind_tube.total > 0 && (item.pleat == 'Roller Blind' || item.pleat == 'Zebra Blind')"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Add 2.8mm Tube (set)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.blind_tube.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.blind_tube.total | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Easy Lift -->
        <div *ngIf="calc.blind_easylift.total > 0 && item.pleat == 'Wooden Blind'"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Easy Lift System (sqft)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.blind_easylift.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.blind_easylift.total | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Mono System -->
        <div *ngIf="calc.blind_monosys.total > 0 && item.pleat == 'Wooden Blind'"
          style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Mono System (sqft)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.blind_monosys.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.blind_monosys.total | currency: ' '}}
            </div>
          </div>
        </div>

        <div *ngIf="pass">

          <!-- Installation Ladder -->
          <!-- <div *ngIf="calc.install.ladder" style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Installation w/Ladder ({{calc.install.unit}})
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc.install.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc.install.ladder_price | currency: ' '}}
              </div>
            </div>
          </div> -->

          <!-- Installation Scaftfolding -->
          <!-- <div *ngIf="calc.install.scaftfolding"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Installation w/Scaftfolding ({{calc.install.unit}})
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc.install.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc.install.scaftfolding_price | currency: ' '}}
              </div>
            </div>
          </div> -->
        </div>

        <!-- Installation & Hang -->
        <div *ngIf="calc.install" style="display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>Installation (set)</div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              {{calc.install.qty}}
            </div>
            <div style="width: 70%;text-align: end;">
              {{calc.install.total | currency: ' '}}
            </div>
          </div>
        </div>

        <!-- Belt & Hook -->
        <!-- <div style="display: flex;justify-content: space-between;margin-bottom: 5px;">
          <div>
            Belt & Hook (set)
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              1
            </div>
            <div style="width: 70%;text-align: end;">
              25.00
            </div>
          </div>
        </div> -->

      </div>

      <!-- Price -->
      <div style="display: flex;justify-content: flex-end;">
        <div *ngIf="item.price_old == null" style="font-size: 18px; font-weight: 700; color: #000;">
          RM {{item.price | currency: ' '}}</div>
        <div *ngIf="item.price_old != null" style="font-size: 18px; font-weight: 700; color: #000;">
          RM {{item.price | currency: ' '}} <span style="text-decoration: line-through;">{{item.price_old | currency: '
            '}}</span></div>
      </div>
    </div>

  </div>

</ion-content>