<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #FAF7F2">
    <div style="position: sticky; top: 0px; width: 100%;z-index: 100;">
      <div style="width: 100%;  display: flex; align-items: center; justify-content: space-between; padding:0 10px; ">

        <div style="display: flex;justify-content: center;align-items: center;">
          <ion-icon (click)="back()" style="font-size: 18px; color: #636161; --ionicon-stroke-width: 50px"
            name="chevron-back-outline"></ion-icon>
        </div>

        <div style="font-weight: 600;color: #000;font-size: 18px;">Profile Details</div>

        <div>
        </div>

      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content style="--background: #FAF7F2">

  <div style="height: calc(100vh - 60px) ;display: flex;flex-direction: column;justify-content: space-between;">

    <div style="width: 100%;">

      <div style="width: 100%;display: flex;padding: 15px 15px 0 15px;">

        <div>
          <ion-avatar style="width: 100px; height: 100px; padding: 5px; border: 1px solid silver; ">
            <img *ngIf="!user['photo']" style="object-fit: cover;"
              src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg">
            <img *ngIf="user['photo']" style="object-fit: cover;" src="{{user['photo']}}">
          </ion-avatar>

          <label for="files" class="btn">
            <div
              style="color: white;text-align: center;margin-top: 10px;font-weight: 500;padding: 8px 6px;
             background-color: #DEC5A5; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; font-size: 12px;">
              Change Image
            </div>
          </label>

          <input style="display: none" id="files" class="inputclass" accept="image/*" type="file"
            (change)="fileChange($event, '', 600)">

          <canvas style="display: none;" id="canvas"></canvas>
        </div>

        <div style="width: 100%; display: flex; align-items: center; flex-direction: column; margin: 0 0 20px 20px;">

          <div style="width: 100%; display: flex; flex-direction: column; align-items: flex-start; ">
            <div style="font-size: 14px; font-weight: 400; letter-spacing: 0.5px; color: #576d89;">Name</div>
            <div
              style="width: 100%; margin-top: 10px; border: 1px solid #e7f3f8; border-radius: 2px; background-color: #f5fafc;">
              <ion-input placeholder="Enter Name" [(ngModel)]="user['name']"
                style="background-color: #eeeeee; height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px;border-radius: 2px;">
              </ion-input>
            </div>
          </div>

          <div style="width: 100%; display: flex; flex-direction: column; align-items: flex-start;margin-top: 15px;">
            <div style="font-size: 14px; font-weight: 400; letter-spacing: 0.5px; color: #576d89;">Position</div>
            <div
              style="width: 100%; margin-top: 10px; border: 1px solid #e7f3f8; border-radius: 2px; background-color: #f5fafc;">
              <ion-input placeholder="Enter Name" [(ngModel)]="user['position']"
                style="background-color: #eeeeee; height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px;border-radius: 2px;"
                disabled>
              </ion-input>
            </div>
          </div>

        </div>

      </div>

      <div
        style="width: 100%; display: flex; flex-direction: column; align-items: flex-start;margin-top: 15px;padding: 0 15px;">
        <div style="font-size: 14px; font-weight: 400; letter-spacing: 0.5px; color: #576d89;">Email</div>
        <div
          style="width: 100%; margin-top: 10px; border: 1px solid #e7f3f8; border-radius: 2px; background-color: #f5fafc;">
          <ion-input placeholder="Enter Email" [(ngModel)]="user['email']"
            style="background-color: #eeeeee; height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px;border-radius: 2px;"
            disabled>
          </ion-input>
        </div>
      </div>

      <div
        style="width: 100%; display: flex; flex-direction: column; align-items: flex-start;margin: 15px 0 25px 0;padding: 0 15px;">
        <div style="font-size: 14px; font-weight: 400; letter-spacing: 0.5px; color: #576d89;">Phone</div>
        <div
          style="width: 100%; margin-top: 10px; border: 1px solid #e7f3f8; border-radius: 2px; background-color: #f5fafc;">
          <ion-input placeholder="Enter Phone" [(ngModel)]="user['phone']" type="number"
            style="background-color: #eeeeee; height: 30px;font-weight: 400;--padding-start: 10px;--padding-end: 10px;border-radius: 2px;">
          </ion-input>
        </div>
      </div>

    </div>

    <div style="display: flex;align-items: center;flex-direction: column;padding-bottom: 10px;">
      <div (click)="update()" style="width: 50%;color: white;text-align: center;margin-top: 10px;font-weight: 500;padding: 8px 6px;
        background-color: #DEC5A5; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
        Save
      </div>
      <div (click)="deleteAccount()" style="color: red;font-size: 12px;font-weight: 600;margin-top: 30px;">
        Delete Account
      </div>
    </div>

  </div>

</ion-content>