<ion-header *ngIf="loading" style="--background: #FAF7F2">

  <div
    style="height: 50px; width: 100%; display: flex; align-items: center; justify-content: space-between; padding: 0 15px;background-color: #ebd1af;">

    <div style="display: flex; align-items: center;">
      <div
        style="height: 24px;width: 24px;background-color: white;border-radius: 5px;display: flex;justify-content: center;align-items: center;">
        <ion-icon (click)="back()" style="font-size: 22px; color: #a17635;" name="close-outline"></ion-icon>
      </div>

      <div style="font-weight: 500;color: #a17635;font-size: 18px;padding-left: 15px;letter-spacing: 0.5px;">
        Quotations
      </div>
    </div>

    <div *ngIf="salesmaninfo.position == 'Sales'"
      style="width: 50%;display: flex;align-items: center;justify-content: space-between;">
      <div style="width: 50%;">
        <ion-button style="height: fit-content;width: 100%;--background: #a17635;--background-activated: #b2894c"
          (click)="choosePDF(info.quotation_client)">
          <div style="font-size: 8px;padding: 5px 0;">Client's<br />Quotation</div>
        </ion-button>
      </div>
      <div style="width: 50%;margin-left: 5px;">
        <ion-button style="height: fit-content;width: 100%;--background: #a17635;--background-activated: #b2894c"
          (click)="choosePDF(info.quotation_detailed)">
          <div style=" font-size: 8px;padding: 5px 0;">Detailed<br />Quotation
          </div>
        </ion-button>
      </div>
    </div>

  </div>

</ion-header>

<ion-content style="--background: #FAF7F2">

  <div *ngIf="loading">
    <div *ngFor="let x of item; let i = index"
      style="margin: 10px;box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;background: white;border-radius: 5px; padding: 10px; margin-bottom: 15px;">

      <div *ngIf="x.type != 'Blinds'">

        <div style="display: flex;justify-content: space-between; margin-bottom: 15px;">
          <div style="width: fit-content;font-weight: 500;padding-top: 10px;">
            <div style="font-size: 15px; font-weight: 600; color: #000;border-bottom: 0.5px solid #a17635;">
              {{x.location}}
            </div>
          </div>
        </div>

        <div style="display: flex;justify-content: space-between;font-weight: 450;font-size: 13px;">

          <div style="width: 60%;font-size: 14px;">
            Description
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              Qty
            </div>
            <div style="width: 70%;text-align: center;">
              Total (RM)
            </div>
          </div>

        </div>

        <div style="width: 100%; font-size: 13px; font-weight: 400; color: #222222; padding: 10px 0px; margin: 10px 0px;
       border-top: 2px dashed #a17635; border-bottom: 2px dashed #a17635;">

          <!-- Width & Height -->
          <div style="display: flex;justify-content: space-between; margin-bottom: 10px;">
            <div *ngIf="x.height_tech != null || x.width_tech != null"
              style="font-size: 13px; font-weight: 400; color: #999;">
              {{x.width_tech}}" x {{x.height_tech}}"
            </div>
            <div *ngIf="x.height_tech == null && x.width_tech == null"
              style="font-size: 13px; font-weight: 400; color: #999;">
              {{x.width}}" x {{x.height}}"
            </div>
          </div>

          <!-- Curtain -->
          <div *ngIf="x.fabric != null" style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Curtain - {{x.fabric}}<span *ngIf="x.code_curtain">-{{x.code_curtain}}</span> (m)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].curtain.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].curtain.total | currency: ' '}}<span
                  *ngIf="calc[i].curtain.promo_rate != 0 && calc[i].curtain.promo_rate != null">
                  (-{{calc[i].curtain.promo_rate}}%)</span>
              </div>
            </div>
          </div>

          <!-- Lining -->
          <div *ngIf="x.fabric_lining != null"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Lining - {{x.fabric_lining}}<span *ngIf="x.code_lining">-{{x.code_lining}}</span> (m)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].lining.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].lining.total | currency: ' '}}<span
                  *ngIf="calc[i].lining.promo_rate != 0 && calc[i].lining.promo_rate != null">
                  (-{{calc[i].lining.promo_rate}}%)</span>
              </div>
            </div>
          </div>

          <!-- Sheer -->
          <div *ngIf="lengthof(x.fabric_sheer) > 0 "
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Sheer - {{x.fabric_sheer}}<span *ngIf="x.code_sheer">-{{x.code_sheer}}</span> (m)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].sheer.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].sheer.total | currency: ' '}}<span
                  *ngIf="calc[i].sheer.promo_rate != 0 && calc[i].sheer.promo_rate != null">
                  (-{{calc[i].sheer.promo_rate}}%)</span>
              </div>
            </div>
          </div>

          <!-- Sewing Curtain + Lining -->
          <div *ngIf="lengthof(calc[i].curtain) > 0"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Sewing <span>{{item[i].pleat_short}} </span><span *ngIf="lengthof(calc[i].curtain) > 0">Curtain</span>
              <span *ngIf="lengthof(calc[i].curtain) > 0 && lengthof(calc[i].lining) > 0 "> + </span>
              <span *ngIf="lengthof(calc[i].lining) > 0">Lining</span> (ft)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].sewing_curtain.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].sewing_curtain.total | currency: ' '}}
              </div>
            </div>
          </div>

          <!-- Sewing Sheer -->
          <div *ngIf="lengthof(calc[i].sewing_sheer) > 0"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Sewing <span>{{item[i].pleat_sheer_short}} </span>Sheer (ft)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].sewing_sheer.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].sewing_sheer.total | currency: ' '}}
              </div>
            </div>
          </div>


          <!-- Track -->
          <div *ngIf="lengthof(calc[i].track) > 0"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              {{x.track}} Track (ft)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].track.qty}}
              </div>
              <div *ngIf="calc[i].track.total > 0" style="width: 70%;text-align: end;">
                {{calc[i].track.total | currency: ' '}}
              </div>
              <div *ngIf="calc[i].track.total <= 0" style="width: 70%;text-align: end;">
                WAIVED
              </div>
            </div>
          </div>

          <!-- Track Sheer -->
          <div *ngIf="lengthof(calc[i].track_sheer) > 0"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              (S) {{x.track_sheer}} Track (ft)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].track_sheer.qty}}
              </div>
              <div *ngIf="calc[i].track_sheer.total > 0" style="width: 70%;text-align: end;">
                {{calc[i].track_sheer.total | currency: ' '}}
              </div>
              <div *ngIf="calc[i].track_sheer.total <= 0" style="width: 70%;text-align: end;">
                WAIVED
              </div>
            </div>
          </div>

          <!-- Motorized -->
          <div *ngIf="lengthof(calc[i].motorized) > 0"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Upgrade Motorized Track ({{calc[i].motorized.unit}})
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].motorized.qty}}
              </div>
              <div *ngIf="calc[i].motorized.cost == 'FOC'" style="width: 70%;text-align: end;">
                FOC
              </div>
              <div *ngIf="calc[i].motorized.cost != 'FOC'" style="width: 70%;text-align: end;">
                {{calc[i].motorized.total | currency: ' '}}
              </div>
            </div>
          </div>

          <!-- Installation Ladder -->
          <div *ngIf="calc[i].install.ladder"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Installation w/Ladder ({{calc[i].install.unit}})
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].install.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].install.ladder_price | currency: ' '}}
              </div>
            </div>
          </div>

          <!-- Installation Scaftfolding -->
          <div *ngIf="calc[i].install.scaftfolding"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Installation w/Scaftfolding ({{calc[i].install.unit}})
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].install.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].install.scaftfolding_price | currency: ' '}}
              </div>
            </div>
          </div>

          <!-- Installation & Hang -->
          <div style="display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Installation & Hang (set)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].install.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].install.total | currency: ' '}}
              </div>
            </div>
          </div>

          <!-- Belt & Hook -->
          <div *ngIf="calc[i].install.belt_hook != 0"
            style="display: flex;justify-content: space-between;margin-bottom: 5px;">
            <div>
              Belt & Hook (set)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                1
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].install.belt_hook | currency: ' '}}
              </div>
            </div>
          </div>

        </div>

        <!-- Price -->
        <div style="display: flex;justify-content: flex-end;">
          <div *ngIf="x.price_old == null" style="font-size: 18px; font-weight: 700; color: #000;">
            RM {{x.price | currency: ' '}}</div>
          <div *ngIf="x.price_old != null" style="font-size: 18px; font-weight: 700; color: #000;">
            RM {{x.price | currency: ' '}} <span style="text-decoration: line-through;">{{x.price_old | currency: '
              '}}</span></div>
        </div>
      </div>

      <div *ngIf="x.type == 'Blinds'">

        <div style="display: flex;justify-content: space-between; margin-bottom: 15px;">
          <div style="width: fit-content;font-weight: 500;padding-top: 10px;">
            <div style="font-size: 15px; font-weight: 600; color: #000;border-bottom: 0.5px solid #a17635;">
              {{x.location}}
            </div>
          </div>
        </div>

        <div style="display: flex;justify-content: space-between;font-weight: 450;font-size: 13px;">

          <div style="width: 60%;font-size: 14px;">
            Description
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              Qty
            </div>
            <div style="width: 70%;text-align: center;">
              Total (RM)
            </div>
          </div>

        </div>

        <div style="width: 100%; font-size: 13px; font-weight: 400; color: #222222; padding: 10px 0px; margin: 10px 0px;
       border-top: 2px dashed #a17635; border-bottom: 2px dashed #a17635;">

          <!-- Width & Height -->
          <div style="display: flex;justify-content: space-between; margin-bottom: 10px;">
            <div *ngIf="x.height_tech != null || x.width_tech != null"
              style="font-size: 13px; font-weight: 400; color: #999;">
              {{x.width_tech}}" x {{x.height_tech}}"
            </div>
            <div *ngIf="x.height_tech == null && x.width_tech == null"
              style="font-size: 13px; font-weight: 400; color: #999;">
              {{x.width}}" x {{x.height}}"
            </div>
          </div>

          <!-- Blind -->
          <div *ngIf="x.fabric_blind != null && x.pleat != 'Roman Blind'"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Blind - {{x.fabric_blind}}<span *ngIf="x.code_blind">-{{x.code_blind}}</span> (sqft)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                <!-- {{calc[i].blind.qty}} -->
                {{calc[i].blind.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].blind.total | currency: ' '}}<span
                  *ngIf="calc[i].blind.promo_rate != 0 && calc[i].blind.promo_rate != null">
                  (-{{calc[i].blind.promo_rate}}%)</span>
              </div>
            </div>
          </div>

          <!-- Curtain -->
          <div *ngIf="x.fabric != null && lengthof(calc[i].curtain) > 0 && x.pleat == 'Roman Blind'"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Roman Blind - {{x.fabric}}<span *ngIf="x.code_curtain">-{{x.code_curtain}}</span> (sqft)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].curtain.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].curtain.total | currency: ' '}}<span
                  *ngIf="calc[i].curtain.promo_rate != 0 && calc[i].curtain.promo_rate != null">
                  (-{{calc[i].curtain.promo_rate}}%)</span>
              </div>
            </div>
          </div>

          <!-- Lining -->
          <div *ngIf="x.fabric_lining != null && lengthof(calc[i].lining) > 0 && x.pleat == 'Roman Blind'"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Lining - {{x.fabric_lining}}<span *ngIf="x.code_lining">-{{x.code_lining}}</span> (m)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].lining.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].lining.total | currency: ' '}}<span
                  *ngIf="calc[i].lining.promo_rate != 0 && calc[i].lining.promo_rate != null">
                  (-{{calc[i].lining.promo_rate}}%)</span>
              </div>
            </div>
          </div>

          <!-- Sewing Curtain -->
          <div *ngIf="lengthof(calc[i].curtain) > 0 && x.pleat == 'Roman Blind'"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Sewing for Roman Blind (ft)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].sewing_curtain.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].sewing_curtain.total | currency: ' '}}
              </div>
            </div>
          </div>

          <!-- Sewing Lining -->
          <div *ngIf="lengthof(calc[i].lining) > 0 && x.pleat == 'Roman Blind'"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Sewing for Lining (ft)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].sewing_lining.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].sewing_lining.total | currency: ' '}}
              </div>
            </div>
          </div>

          <!-- Mechanism -->
          <div *ngIf="lengthof(calc[i].mechanism) > 0 && x.pleat == 'Roman Blind'"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Mechanism (ft)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].mechanism.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].mechanism.total | currency: ' '}}
              </div>
            </div>
          </div>

          <!-- Installation Ladder -->
          <div *ngIf="calc[i].install.ladder"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Installation w/Ladder ({{calc[i].install.unit}})
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].install.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].install.ladder_price | currency: ' '}}
              </div>
            </div>
          </div>

          <!-- Installation Scaftfolding -->
          <div *ngIf="calc[i].install.scaftfolding"
            style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Installation w/Scaftfolding ({{calc[i].install.unit}})
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].install.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].install.scaftfolding_price | currency: ' '}}
              </div>
            </div>
          </div>

          <!-- Installation & Hang -->
          <div style="display: flex;justify-content: space-between;margin-bottom: 10px;">
            <div>
              Installation (set)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                {{calc[i].install.qty}}
              </div>
              <div style="width: 70%;text-align: end;">
                {{calc[i].install.total | currency: ' '}}
              </div>
            </div>
          </div>

          <!-- Belt & Hook -->
          <!-- <div style="display: flex;justify-content: space-between;margin-bottom: 5px;">
            <div>
              Belt & Hook (set)
            </div>

            <div style="width: 40%;display: flex;justify-content: flex-end;">
              <div style="width: 30%;text-align: center;">
                1
              </div>
              <div style="width: 70%;text-align: end;">
                25.00
              </div>
            </div>
          </div> -->

        </div>

        <!-- Price -->
        <div style="display: flex;justify-content: flex-end;">
          <div *ngIf="x.price_old == null" style="font-size: 18px; font-weight: 700; color: #000;">
            RM {{x.price | currency: ' '}}</div>
          <div *ngIf="x.price_old != null" style="font-size: 18px; font-weight: 700; color: #000;">
            RM {{x.price | currency: ' '}} <span style="text-decoration: line-through;">{{x.price_old | currency: '
              '}}</span></div>
        </div>
      </div>
    </div>

    <!-- Additional Charges -->
    <div
      style="margin: 10px;box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;background: white;border-radius: 5px; padding: 10px; margin-bottom: 15px;">

      <div style="display: flex;justify-content: space-between; margin-bottom: 15px;">
        <div style="width: fit-content;font-weight: 500;padding-top: 10px;">
          <div style="font-size: 15px; font-weight: 600; color: #000;border-bottom: 0.5px solid #a17635;">
            Additional Charges
          </div>
        </div>
      </div>

      <div style="display: flex;justify-content: space-between;font-weight: 450;font-size: 13px;">

        <div style="width: 60%;font-size: 14px;">
          Description
        </div>

        <div style="width: 40%;display: flex;justify-content: flex-end;">
          <div style="width: 30%;text-align: center;">
            Qty
          </div>
          <div style="width: 70%;text-align: center;">
            Total (RM)
          </div>
        </div>

      </div>

      <div style="width: 100%; font-size: 13px; font-weight: 400; color: #222222; padding: 10px 0px; margin: 10px 0px;
       border-top: 2px dashed #a17635; border-bottom: 2px dashed #a17635;">

        <!-- Ladder -->
        <div *ngIf="ladder" style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Ladder
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              1
            </div>
            <div style="width: 70%;text-align: end;">
              100.00
            </div>
          </div>
        </div>

        <!-- ScaftFolding -->
        <div *ngIf="scaftfolding" style=" display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Scaftfolding
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              1
            </div>
            <div style="width: 70%;text-align: end;">
              200.00
            </div>
          </div>
        </div>

        <!-- Transportation fee -->
        <div style="display: flex;justify-content: space-between;margin-bottom: 10px;">
          <div>
            Transportation Fee
          </div>


          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              1
            </div>
            <div style="width: 70%;text-align: end;">
              {{info.transport_fee | currency: ' '}}
            </div>
          </div>
        </div>

      </div>

      <!-- Price -->
      <div style="display: flex;justify-content: flex-end;">
        <div style="font-size: 18px; font-weight: 700; color: #000;">{{addCharges() | currency: 'RM '}}</div>
      </div>

    </div>

    <!-- Promo Package -->
    <div
      style="margin: 10px;box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;background: white;border-radius: 5px; padding: 10px; margin-bottom: 25px;">

      <div style="display: flex;justify-content: space-between; margin-bottom: 15px;">
        <div style="width: fit-content;font-weight: 500;padding-top: 10px;">
          <div style="font-size: 15px; font-weight: 600; color: #000;border-bottom: 0.5px solid #a17635;">
            Promo Package
          </div>
        </div>
      </div>

      <!-- Title -->
      <div style="display: flex;justify-content: space-between;font-weight: 450;font-size: 13px;">

        <div style="width: 60%;font-size: 14px;">
          Description
        </div>

        <div style="width: 40%;display: flex;justify-content: flex-end;">
          <div style="width: 30%;text-align: center;">
            Qty
          </div>
          <div style="width: 70%;text-align: center;">
            Total (RM)
          </div>
        </div>

      </div>

      <div *ngIf="!info.rejected" style="width: 100%; font-size: 13px; font-weight: 400; color: #222222; padding: 10px 0px; margin: 10px 0px;
       border-top: 2px dashed #a17635; border-bottom: 2px dashed #a17635;">

        <!-- Empty Info -->
        <div *ngIf="!info.package_code" style="display: flex;justify-content: space-between;align-items: center">
          <div style="height: 1px;width: 30%;border-bottom: 1px dashed #999;padding: 0 20px;"></div>
          <div style="width: 130px;font-size: 12px;color: #999;text-align: center;"> No Package Applied </div>
          <div style="height: 1px;width: 30%;border-bottom: 1px dashed #999;padding: 0 20px;"></div>
        </div>

        <!-- Package List -->
        <div *ngIf="info.package_code" style=" display: flex;justify-content: space-between;margin-bottom: 10px;">

          <div style="display: flex;">
            <!-- <ion-checkbox mode="ios" class="ion-no-padding" [(ngModel)]="ladder"
              style="min-width: 15px;min-height: 15px;width: 15px;height: 15px;margin-right: 10px;--background-checked: #a17635;--border-color-checked: #a17635">
            </ion-checkbox> -->

            <div style="display: flex;align-items: center;">
              <div>{{packageApplied.code}}</div>
              <div (click)="packageView()"
                style="margin-left: 5px;background-color: #a17635;color: white;border-radius: 10px;font-size: 11px;box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 2px 0px;padding: 3px 6px;">
                View</div>
            </div>
          </div>

          <div style="width: 40%;display: flex;justify-content: flex-end;">
            <div style="width: 30%;text-align: center;">
              1
            </div>
            <div style="width: 70%;text-align: end;">
              {{packageApplied.price | currency : ' '}}
            </div>
          </div>

        </div>

      </div>

      <!-- Price -->
      <div style="display: flex;justify-content: flex-end;">
        <div style="font-size: 18px; font-weight: 700; color: #000;">{{packageApplied.price | currency: 'RM '}}</div>
      </div>

    </div>

  </div>

</ion-content>

<ion-footer *ngIf="loading">

  <div
    style="background: #ebd1af; display: flex;padding: 10px 15px;align-items: center;justify-content: space-between;">

    <div style="padding-left: 5px;">
      <div style="width: fit-content;color: #a17635;font-size: 14px;font-weight: 500;">Total Amount :</div>
      <div *ngIf="!info.package_code" style="color: #a17635;font-size: 14px;font-weight: 500;">{{totalPrice() |
        currency: 'RM '}}</div>
      <div *ngIf="info.package_code" style="display: flex;align-items: center;">
        <div style="text-decoration: line-through; color: #a17635;font-size: 14px;font-weight: 500;">{{totalPrice() |
          currency: 'RM '}}</div>
        <div style=" color: #a17635;font-size: 14px;font-weight: 500;margin-left: 3px;">
          {{packageApplied.price | currency: 'RM '}}</div>
      </div>
    </div>

    <!-- <div
      style="width: 100%;display: flex;align-items: center;justify-content: flex-end;padding: 0 0 0 15px;background: #ebd1af">

      <ion-button (click)="calcPrice()"
        style="height: 35px;width: 50%;max-width: 150px;--background: white;--border-radius: 100px;font-weight: 350px;font-size: 12px;letter-spacing: 0.7px;color: #a17635;--background-activated: ;">
        Calculate
      </ion-button>

      <ion-button (click)="addItem()"
        style="height: 35px;width: 40%;max-width: 150px;--background: white;--border-radius: 100px;font-weight: 350px;font-size: 12px;letter-spacing: 0.7px;color: #a17635;--background-activated: ;padding-left: 5px;">
        Add Item
      </ion-button>

    </div> -->

    <!--  <ion-button (click)="checkout()"
      style="height: 35px;width: 40%;max-width: 150px;--background: white;--border-radius: 100px;font-weight: 450px;font-size: 12px;letter-spacing: 0.7px;color: #a17635;--background-activated: ;padding-left: 5px;">
      Checkout
    </ion-button> -->


  </div>

</ion-footer>

<!-- Package Pop-up -->
<div *ngIf="viewPackage" style="width: 100%; height: 100%;  display: flex; align-items: center; justify-content: center; flex-direction: column;position: absolute;top: 0; z-index: 10000;
background-color: rgba(153, 153, 153, 0.458);padding-bottom: 20px;">

  <div
    style="width: 90%; height: 90%;max-height: 650px;max-width: 380px;background-color: white;border-radius: 10px;position: relative;">

    <div style="height: 95%;">

      <div
        style="height: 24px;width: 24px;background-color: white;border-radius: 5px;display: flex;justify-content: center;align-items: center;position: absolute;right: 8px;top: 8px;">
        <ion-icon (click)="closePackage()" style="font-size: 22px; color: #a17635;" name="close-outline"></ion-icon>
      </div>

      <div
        [ngStyle]="packageViewed.type == 'PREMIUM' ? {'background': 'linear-gradient(28deg, rgba(255,76,77,1) 0%, rgba(255,108,90,1) 47%, rgba(255,150,107,1) 100%)'} :
        packageViewed.type == 'STANDARD' ? {'background': 'linear-gradient(28deg, rgba(1,182,130,1) 0%, rgba(45,204,141,1) 47%, rgba(100,232,154,1) 100%)'} :
          {'background': 'linear-gradient(28deg, rgba(0,150,238,1) 0%, rgba(0,182,238,1) 47%, rgba(0,223,238,1) 100%)'}"
        style="padding: 20px 20px 25px 20px; display: flex;align-items: center;flex-direction: column; border-radius: 10px 10px 50% 50%;">
        <div style="color: white;font-size: 18px; font-weight: 400;padding-bottom: 5px;">{{packageViewed.type}}</div>
        <div style="color: white;font-size: 32px; font-weight: 700;">RM {{packageViewed.price | currency : ' ' : ' ' :
          '1.0-0'}}
        </div>
      </div>

      <ion-textarea readonly auto-grow="true" rows="2" placeholder="Description" [(ngModel)]="packageViewed.description"
        style="font-size: 14px; letter-spacing: 0.5px; --padding-start: 10px; --padding-end: 10px; padding: 15px;">
      </ion-textarea>
      <!-- <div style="padding: 20px;">{{packageViewed.description}}</div> -->

    </div>

    <div
      style="height: 5%;display: flex;justify-content: flex-end;padding-right: 15px;font-style: italic;font-size: 12px;">
      {{packageViewed.code}}</div>

  </div>

</div>