<ion-header>

  <div
    style="height: 50px; width: 100%; display: flex; align-items: center; padding: 15px;justify-content: center;background: black;">
    <ion-icon (click)="back()" style="font-size: 24px; position: absolute; left: 20px; top: 14px;color: white;"
      name="chevron-back-outline"></ion-icon>

    <div style="font-weight: 700;color: white;">Task Details</div>
  </div>

</ion-header>

<ion-content>

  <div style="margin: 15px;">
    <div style="margin-bottom: 5px;display: flex;">
      <div style="font-weight: 700;">Client :</div>
      <div style="font-weight: 400;padding-left: 10px;">{{info.client}}</div>
    </div>

    <div style="margin-bottom: 5px;display: flex;">
      <div style="min-width: 56px;font-weight: 700;">Address :</div>
      <div style="font-weight: 400;padding-left: 10px;">{{info.address}}</div>
    </div>

    <div style="margin-bottom: 5px;display: flex;">
      <div style="font-weight: 700;">Contact :</div>
      <div style="font-weight: 400;padding-left: 10px;">{{info.contact}}</div>
    </div>

    <div style="margin-bottom: 5px;display: flex;">
      <div style="font-weight: 700;">House Type :</div>
      <div style="font-weight: 400;padding-left: 10px;">{{info.house_type}}</div>
    </div>

    <div style="width: 100%;height: 1px;background: #a17635;border-radius: 20px;margin-bottom: 5px;"></div>

    <div>
      <ion-button (click)="addTask()"
        style="width: 100%;--background: linear-gradient(135deg, rgba(198,152,80,1) 30%, rgba(161,118,53,1) 30%, rgba(204,150,68,1) 82%, rgba(193,137,52,1) 82%);
      border: 0.6px solid #626587;--border-radius: 100px;border-radius: 100px;font-weight: 350px;font-size: 14px;letter-spacing: 0.7px;--background-activated: ">
        + Add Item
      </ion-button>
    </div>

    <div (click)="editTask(x)" *ngFor="let x of items; let i = index" style="width: 100%;box-shadow: 0 3px 5px #c2c2c2;
    border-radius: 7px;margin: 20px 0;">

     <div style="display: flex;flex-direction: column;justify-content: center;padding: 5px 20px 0 5px;">

       <div style="margin-bottom: 5px;font-weight: 400;display: flex;align-items: center;justify-content: space-between;">
         <div>#{{i+1}}</div>
         <div>color</div>
       </div>

       <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
         <div style="font-weight: 700;">Width :</div>
         <div style="font-weight: 400;padding-left: 10px;">{{x.width}}</div>
       </div>

       <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
         <div style="font-weight: 700;">Height :</div>
         <div style="font-weight: 400;padding-left: 10px;">{{x.height}}</div>
       </div>

       <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
         <div style="min-width: 56px;font-weight: 700;">Product Type :</div>
         <div style="font-weight: 400;padding-left: 10px;">{{x.type}}</div>
       </div>

       <div style="margin-left: 15px;margin-bottom: 5px;display: flex;">
         <div style="font-weight: 700;">Fabric :</div>
         <div style="font-weight: 400;padding-left: 10px;">{{x.fabric || '-'}}</div>
       </div>

       <div style="width: 100%;height: 1px;background: #a17635;border-radius: 20px;margin-bottom: 5px;"></div>
     </div>

     <div style="display: flex;justify-content: flex-end;padding-right: 15px;margin-bottom: 10px;">

       <div
         style="padding: 5px;border-radius: 20px;color: white;font-weight: 350;margin-bottom: 5px;
     background: linear-gradient(135deg, rgba(198,152,80,1) 30%, rgba(161,118,53,1) 30%, rgba(204,150,68,1) 82%, rgba(193,137,52,1) 82%);">
         View Details
       </div>
     </div>

   </div>

  </div>

</ion-content>